mixin program(all_events, show_all, classes)
  section.o-GridFlex.c-Program(class=classes)
    each events,index in all_events
      h1.o-GridFlex__Item.c-Program__Hn: label
        input.c-Program__Check(type="radio" name='program'+all_events[0][0].startDate value=index)&attributes((index===0) ? {checked:''} : {})
        time(datetime=events[0].startDate)
          - var date = new Date(events[0].startDate)
          span.js-= day_names[date.getUTCDay()] + ', '
          span.js-= month_names[date.getUTCMonth()].slice(0,3) + ' ' + date.getUTCDate()
      div.o-GridFlex__Item.c-Program__Schedule
        include _c-TimeBlock.jade
        +timeBlock(events, show_all)
