mixin program(n, attrs)
  - attrs = attrs || {id: 'id'+n}
  section.o-GridFlex.c-Program&attributes(attrs)
    mixin heading(i)
      | heading #{i}
    mixin content(i)
      | content #{i}
    block
    each val,index in new Array(n)
      h1.o-GridFlex__Item.c-Program__Hn: label
        input.c-Program__Check(type="radio" name='program-'+attrs.id value=index)&attributes((index===0) ? {checked:''} : {})
        +heading(index)
      div.o-GridFlex__Item.c-Program__Schedule
        +content(index)

mixin programHeading(str)
  time(datetime=str)
    - var date = Util.toDate(str)
    span.js-h-Block-sK= Util.DAY_NAMES[date.getUTCDay()] + ', '
    span.js-h-Block-sK= Util.monthDay(date)
