extends lib.tpl.jade

block append vars
  - var page = Lib.getPage('comp.html')

block toc
  +libtoc({pages: page.sub, depth: Infinity})

block append main
  section.sg-sect#masthead-mastfoot
    h2 The Masthead and Mastfoot
    figure.docs-figure
      header.c-Mast
        h1 mast heading
        p mast content
        ul
          li: a(href="") mast link
          li: a(href="")._hover mast link hover
          li: a(href="")._active mast link active
          li: a mast link disabled
      pre.docs-pre.
        &lt;header class="#[u c-Mast]"&gt;
          &lt;h1&gt;mast heading&lt;/h1&gt;
          &lt;p&gt;mast content&lt;/p&gt;
          &lt;p&gt;&lt;a&gt;mast link&lt;/a&gt;&lt;/p&gt;
        &lt;/header&gt;
    figure.docs-figure
      footer.c-Mast.c-Mast--copyright
        ul
          li: a(href="") mast link
          li: a(href="")._hover mast link hover
          li: a(href="")._active mast link active
          li: a mast link disabled
      pre.docs-pre.
        &lt;footer class="#[u c-Mast]  #[u c-Mast--copyright]"&gt;
          &lt;p&gt;&lt;a&gt;&copy; 1996&ndash;2016 American Society of Civil Engineers&lt;/a&gt;&lt;/p&gt;
        &lt;/footer&gt;
    figure.docs-figure
      footer.c-Mast.c-Mast--internal
        ul
          li: a(href="") mast link
          li: a(href="")._hover mast link hover
          li: a(href="")._active mast link active
          li: a mast link disabled
      pre.docs-pre.
        &lt;footer class="#[u c-Mast]  #[u c-Mast--internal]"&gt;
          &lt;p&gt;&lt;a&gt;&copy; 1996&ndash;2016 American Society of Civil Engineers&lt;/a&gt;&lt;/p&gt;
        &lt;/footer&gt;
  section.sg-sect#site-title
    h2 The Site Title
    p Use with #[a(href="#text-level-components") the Camo Link].
    figure.docs-figure
      a.o-Block.o-GridFloat.c-SiteTitle.c-Camo(href="" style="margin-bottom: 1.5rem;")
        span.o-GridFloat__Item.c-SiteTitle__Logo
        h1.o-GridFloat__Item.c-SiteTitle__Name ASCE Convention
        p.o-GridFloat__Item.c-SiteTitle__Tagline The Flagship Event of ASCE
      pre.docs-pre.
        &lt;a class="o-Block  o-GridFloat  #[u c-SiteTitle]  c-Camo"&gt;
          &lt;span class="o-GridFloat__Item  #[u c-SiteTitle__Logo]"&gt;&lt;/span&gt;
          &lt;h1 class="o-GridFloat__Item  #[u c-SiteTitle__Name]"&gt;ASCE Convention&lt;/h1&gt;
          &lt;p class="o-GridFloat__Item  #[u c-SiteTitle__Tagline]"&gt;The Flagship Event of ASCE&lt;/p&gt;
        &lt;/a&gt;
  section.sg-sect#universal-menu
    h2 The Universal Menu
    p #[strong Note:] Universal Menu will convert to pull-out drawer when screen is smaller than 720px.
    p Current Year menu item will appear exactly the same as Hero Button, but will not have that class.
    figure.docs-figure
      -
        var pages1 = [
          { name: 'About'  , href: '' }
        , { name: 'Sponsor', href: '' }
        , { name: 'Exhibit', href: '' }
        , { name: 'Contact', href: '' }
        ]
        var pages2 = [
          { name: 'Home', href: '' }
        ]
      div(style="margin-bottom: 1.5rem;")
        include /includes/components/_c-MenuUniversal.jade
        +menuUniversal(pages1, pages2, 'ASCE 2016')
      ul.o-ListBare.o-GridFlex.c-MenuUniversal(style="margin-bottom: 1.5rem;")
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="")._hover menu item hover
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="")._active menu item active
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link menu item disabled
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link.c-MenuUniversal__Link--current(href="")._hover current year hover
        li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link.c-MenuUniversal__Link--current(href="")._active current year active
      pre.docs-pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u c-MenuUniversal]"&gt;
          &lt;li class="o-GridFlex__Item  #[u c-MenuUniversal__Item]"&gt;
            &lt;a class="o-Block  #[u c-MenuUniversal__Link]"&gt;About&lt;/a&gt;
          &lt;/li&gt;
          ...
          &lt;li class="o-GridFlex__Item  #[u c-MenuUniversal__Item]"&gt;
            &lt;a class="o-Block  #[u c-MenuUniversal__Link]  #[u c-MenuUniversal__Link--current]"&gt;ASCE 2016&lt;/a&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
  section.sg-sect#standard-menu
    h2 The Standard Menu
    figure.docs-figure
      include /sites/all/includes/_data.jade
      -
        var pages = [
          { name: 'Home'          , href: '' }
        , { name: 'Registration'  , href: '' }
        , { name: 'Program'       , href: '' }
        , { name: 'Hotel & Travel', href: '' }
        , { name: 'Speakers'      , href: '' }
        ]
      +sitemenulist({pages: pages, class_obj: Conf.MENU_CLASS.standard, depth: 0})
      ul.o-ListBare.o-GridFlex.c-MenuStandard(style="margin-bottom: 1.5rem;")
        li.o-GridFlex__Item.c-MenuStandard__Item._hover: a.o-Block.c-MenuStandard__Link(href="")._hover menu item hover
        li.o-GridFlex__Item.c-MenuStandard__Item._hover: a.o-Block.c-MenuStandard__Link(href="")._active menu item active
        li.o-GridFlex__Item.c-MenuStandard__Item: a.o-Block.c-MenuStandard__Link menu item disabled
      pre.docs-pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u c-MenuStandard]"&gt;
          &lt;li class="o-GridFlex__Item  #[u c-MenuStandard__Item]"&gt;
            &lt;a class="o-Block  #[u c-MenuStandard__Link]"&gt;Home&lt;/a&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#sub-menu
    h2 The Sub Menu
    figure.docs-figure
      include /sites/all/includes/_data.jade
      -
        var pages = [
          { name: 'Why Attend'                  , href: '' }
        , { name: 'Registration Submenu Item 2' , href: '' }
        , { name: 'Registration Submenu Item 3' , href: '' }
        ]
      div(style="height: 100px;")
        +sitemenulist({pages: pages, class_obj: Conf.MENU_CLASS.standard.sub, depth: 0})
      div(style="height: 100px;"): ul.o-ListBare.c-MenuSub
        li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="")._hover menu item hover
        li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="")._active menu item active
        li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link menu item disabled
      pre.docs-pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u c-MenuSub]"&gt;
          &lt;li class="o-GridFlex__Item  #[u c-MenuSub__Item]"&gt;
            &lt;a class="o-Block  #[u c-MenuSub__Link]"&gt;Why Attend&lt;/a&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#sitemap-component
    h2 The Sitemap Component
    figure.docs-figure
      include /sites/all/includes/_data.jade
      -
        var pages = [
            {
              name: 'Home', href: 'home.html'
            }
          , {
              name: 'Registration', href: 'registration.html'
            , sub: [
                { name: 'Why Attend'     , href: '' }
              ]
            }
          , {
              name: 'Program', href: 'program.html'
            , sub: [
                { name: 'Events', href: '' }
              , { name: 'Short Courses'  , href: '' }
              , { name: 'Technical Tours', href: '' }
              , { name: 'Optional Tours' , href: '' }
              ]
            }
          , {
              name: 'Hotel & Travel', href: 'location.html'
            , sub: [
                { name: 'International Travel', href: '' }
              ]
            }
          , {
              name: 'Speakers', href: 'speakers.html'
            , sub: [
                { name: 'Distinguished Lecture Series', href: '' }
              ]
            }
          ]
      +sitemenulist({pages: pages, class_obj: Conf.MENU_CLASS.sitemap, depth: Infinity})
      pre.docs-pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u c-Sitemap]"&gt;
          &lt;li class="#[u c-Sitemap__Item]"&gt;
            &lt;a&gt;Home&lt;/a&gt;
          &lt;/li&gt;
          &lt;li class="#[u c-Sitemap__Item]"&gt;
            &lt;a&gt;Registration&lt;/a&gt;
            &lt;ul class="o-ListBare  #[u c-Sitemap__SubList]"&gt;
              &lt;li class="#[u c-Sitemap__SubItem]"&gt;
                &lt;a&gt;Why Attend&lt;/a&gt;
              &lt;/li&gt;
              ...
            &lt;/ul&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#page-title
    h2 The Page Title
    p Use #[code.docs-code .c-PageTitle] for the top-level heading of a page.
    figure.docs-figure
      h1.c-PageTitle A Page Title
      pre.docs-pre.
        &lt;h1 class="#[u c-PageTitle]"&gt;A Page Title&lt;/h1&gt;
    p Use #[code.docs-code .c-PageTitle--special] if you want a special page title inside a banner.
    figure.docs-figure
      div.c-Banner(style="height: 13.5rem; margin-bottom: 1.5rem; z-index:1;")
        h1.c-PageTitle.c-PageTitle--special special page title
      pre.docs-pre.
        &lt;div class="c-Banner"&gt;
          &lt;h1 class="#[u c-PageTitle]  #[u c-PageTitle--special]"&gt;special page title&lt;/h1&gt;
        &lt;/div&gt;
  section.sg-sect#banner-component
    h2 The Banner Component
    figure.docs-figure
      div.c-Banner(style="margin-bottom: 1.5rem; z-index:1;")
        h1 banner heading
        p banner content
      pre.docs-pre.
        &lt;div class="#[u c-Banner]"&gt;
          &lt;h1&gt;banner heading&lt;/h1&gt;
          &lt;p&gt;banner content&lt;/p&gt;
        &lt;/div&gt;
  section.sg-sect#hero-block
    h2 The Hero Block
    figure.docs-figure
      -
        var demoevent = {
          name      : 'Geo-Risk 2017'
        , theme     : 'Geotechincal risk from theory to practice.'
        , startDate : '2017-06-04'
        , endDate   : '2017-06-07'
        , url       : 'http://2017.georiskconference.org/'
        , location  : {
            addressLocality     : 'Denver'
          , addressRegion       : 'CO'
          , addressRegion_title : 'Colorado'
          }
        }
      //- div.c-Hero
        +hero-content(demoevent)
      div.c-Hero
        h1.c-PageTitle.c-Hero__Name(itemprop="name") Geo-Risk 2017
        meta(content="http://2017.georiskconference.org/" itemprop="url")
        p.c-Hero__Detail
          span.c-Hero__Place(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
            span(itemprop="name")
              span(itemprop="addressLocality") Denver,#{' '}
              abbr(title="Colorado" itemprop="addressRegion") CO
          span.c-Hero__Dates
            time(datetime="2017-06-04" itemprop="startDate") Jun 4
            | &ndash;
            time(datetime="2017-06-07" itemprop="endDate") Jun 7
        p.c-Hero__Theme(itemprop="description") Geotechincal risk from theory to practice.
      div
        input.docs-btn--md#docs-btn--md-hero(type="checkbox" value="hero-md-true")
        label(for="docs-btn--md-hero") show microdata
        pre.docs-pre.docs-pre--has-md.
          &lt;div class="#[u c-Hero]"#[mark  itemscope="" itemtype="http://schema.org/Event"]&gt;
            &lt;h1 class="c-PageTitle #[u c-Hero__Name]"#[mark  itemprop="name"]&gt;Geo-Risk 2017&lt;/h1&gt;
            #[mark!= '&lt;meta content="http://2017.georiskconference.org/" itemprop="url"/&gt;']
            &lt;p class="#[u c-Hero__Detail]"&gt;
              &lt;span class="#[u c-Hero__Place]"#[mark  itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress"]&gt;
                #[mark &lt;span itemprop="name"&gt;]
                  #[mark &lt;span itemprop="addressLocality"&gt;]Denver, #[mark!= '&lt;/span&gt;']
                  #[mark &lt;abbr title="Colorado" itemprop="addressRegion"&gt;]CO#[mark!= '&lt;/abbr&gt;']
                #[mark!= '&lt;/span&gt;']
              &lt;/span&gt;
              &lt;span class="#[u c-Hero__Dates]"&gt;
                #[mark &lt;time datetime="2017-06-04" itemprop="startDate"&gt;]Jun 4#[mark!= '&lt;/time&gt;']
                &ndash;
                #[mark &lt;time datetime="2017-06-07" itemprop="endDate"&gt;]Jun 7#[mark!= '&lt;/time&gt;']
              &lt;/span&gt;
            &lt;/p&gt;
            &lt;p class="#[u c-Hero__Theme]"#[mark  itemprop="description"]&gt;Geotechincal risk ...&lt;/p&gt;
          &lt;/div&gt;
  section.sg-sect#other-year-block
    h2 The Other Year Block
    figure.docs-figure
      -
        var demoevent = {
          name      : 'Geo-Chicago 2016'
        , theme     : 'Sustainability, energy, and the geoenvironment.'
        , startDate : '2016-08-14'
        , endDate   : '2016-08-18'
        , url       : 'http://2016.geoenvironmentconference.org/'
        , location  : {
            addressLocality     : 'Chicago'
          , addressRegion       : 'IL'
          , addressRegion_title : 'Illinois'
          }
        }
      //- div.c-OtherYear
        +otheryear-content(demoevent)
          p.c-OtherYear__Desc.
            Access the 2016 program to see which sessions qualify for
            PDHs and other documentation.
      div.c-OtherYear
        h1.c-OtherYear__Name(itemprop="name") Geo-Chicago 2016
        meta(content="2016-08-14" itemprop="startDate")
        p.c-OtherYear__Detail(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
          span(itemprop="name")
            span(itemprop="addressLocality") Chicago,#{' '}
            abbr(title="Illinois" itemprop="addressRegion") IL
        p.c-OtherYear__Desc Access the 2016 program to see which sessions qualify for PDHs and other documentation.
      div
        input.docs-btn--md#docs-btn--md-otheryear(type="checkbox" value="otheryear-md-true")
        label(for="docs-btn--md-otheryear") show microdata
        pre.docs-pre.docs-pre--has-md.
          &lt;div class="#[u c-OtherYear]"#[mark  itemscope="" itemtype="http://schema.org/Event"]&gt;
            &lt;h1 class="#[u c-OtherYear__Name]"#[mark  itemprop="name"]&gt;Geo-Chicago 2016&lt;/h1&gt;
            #[mark!= '&lt;meta content="2016-08-14" itemprop="startDate"/&gt;']
            &lt;p class="#[u c-OtherYear__Detail]"#[mark  itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress"]&gt;
              #[mark &lt;span itemprop="name"&gt;]
                #[mark &lt;span itemprop="addressLocality"&gt;]Chicago, #[mark!= '&lt;/span&gt;']
                #[mark &lt;abbr title="Illinois" itemprop="addressRegion"&gt;]IL#[mark!= '&lt;/abbr&gt;']
              #[mark!= '&lt;/span&gt;']
            &lt;/p&gt;
            &lt;p class="#[u c-OtherYear__Desc]"&gt;Access the ...&lt;/p&gt;
          &lt;/div&gt;
  section.sg-sect#overlay-component
    h2 The Overlay Component
    p Use the Overlay Component over a Banner.
    figure.docs-figure
      div.c-Banner(style="margin-bottom: 1.5rem; padding: 1.5rem; z-index:1;")
        div.c-Overlay(style="margin-bottom:1.5rem;")
          h1 overlay heading
          p overlay content
        div.c-Overlay.c-Overlay--callout(style="margin-bottom:1.5rem;")
          h1 overlay as callout heading
          p overlay as callout content
        div.c-Overlay.c-Overlay--inv(style="margin-bottom:1.5rem;")
          h1 inverted overlay heading
          p inverted overlay content
      pre.docs-pre.
        &lt;div class="c-Banner"&gt;
          &lt;div class="#[u c-Overlay]"&gt;
            &lt;h1&gt;overlay heading&lt;/h1&gt;
            &lt;p&gt;overlay content&lt;/p&gt;
          &lt;/div&gt;
          &lt;div class="#[u c-Overlay]  #[u c-Overlay--callout]"&gt;
            &lt;h1&gt;overlay as callout heading&lt;/h1&gt;
            &lt;p&gt;overlay as callout content&lt;/p&gt;
          &lt;/div&gt;
          &lt;div class="#[u c-Overlay]  #[u c-Overlay--inv]"&gt;
            &lt;h1&gt;inverted overlay heading&lt;/h1&gt;
            &lt;p&gt;inverted overlay content&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
  section.sg-sect#sponsor-block
    h2 The Sponsor Block
    p A Sponsor Block holds one group of sponsors.
    h3 Sponsor Page
    p.
      On the Sponsor page, each Sponsor Block corresponds to one level,
      e.g., Platinum, Gold, or Corporate.
      This block is a #[code.docs-code section] containing a heading
      (the name of the sponsor level)
      followed by an unordered list of sponsor logo items.
    p.
      To separate multiple sponsor blocks, add class #[code.docs-code .c-SponsorBlock--separate]
      for a thin bottom border.
    figure.docs-figure
      section.c-SponsorBlock.c-SponsorBlock--separate
        h1.c-SponsorBlock__Hn Titanium Sponsors
        ul.o-ListBare.o-GridFlex.o-ListStacked
          li.o-GridFlex__Item.o-ListStacked__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--lrg(href="" style="background-image: url('http://2016.asceconvention.org/sites/default/files/bank-of-america-logo.jpg');") Bank of America
          li.o-GridFlex__Item.o-ListStacked__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--lrg(href="" style="background-image: url('http://2016.asceconvention.org/sites/default/files/ups-logo.jpg');") UPS
          li.o-GridFlex__Item.o-ListStacked__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--lrg(href="" style="background-image: url('http://2016.asceconvention.org/sites/default/files/geico-logo.gif');") Geico
      section.c-SponsorBlock.c-SponsorBlock--separate
        h1.c-SponsorBlock__Hn Platinum Sponsors
        ul.o-ListBare.o-GridFlex.o-ListStacked
          li.o-GridFlex__Item.o-ListStacked__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--med(href="" style="background-image: url('http://2016.asceconvention.org/sites/default/files/bank-of-america-logo.jpg');") Bank of America
          li.o-GridFlex__Item.o-ListStacked__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--med(href="" style="background-image: url('http://2016.asceconvention.org/sites/default/files/ups-logo.jpg');") UPS
          li.o-GridFlex__Item.o-ListStacked__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--med(href="" style="background-image: url('http://2016.asceconvention.org/sites/default/files/geico-logo.gif');") Geico
      section.c-SponsorBlock
        h1.c-SponsorBlock__Hn Gold Sponsors
        ul.o-ListBare.o-GridFlex.o-ListStacked
          li.o-GridFlex__Item.o-ListStacked__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--sml(href="" style="background-image: url('http://2016.asceconvention.org/sites/default/files/bank-of-america-logo.jpg');") Bank of America
          li.o-GridFlex__Item.o-ListStacked__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--sml(href="" style="background-image: url('http://2016.asceconvention.org/sites/default/files/ups-logo.jpg');") UPS
          li.o-GridFlex__Item.o-ListStacked__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--sml(href="" style="background-image: url('http://2016.asceconvention.org/sites/default/files/geico-logo.gif');") Geico
      pre.docs-pre.
        &lt;section class="#[u c-SponsorBlock]  #[u c-SponsorBlock--separate]"&gt;
          &lt;h1 class="#[u c-SponsorBlock__Hn]"&gt;Titanium Sponsors&lt;/h1&gt;
          &lt;ul class="o-ListBare  o-GridFlex  o-ListStacked"&gt;
            &lt;li class="o-GridFlex__Item  o-ListStacked__Item"&gt;
              &lt;a class="o-Block  #[u c-SponsorBlock__Logo]  #[u c-SponsorBlock__Logo--lrg]"&gt;Bank of America&lt;/a&gt;
            &lt;/li&gt;
            ...
          &lt;/ul&gt;
        &lt;/section&gt;

        &lt;section class="#[u c-SponsorBlock]"&gt;
          &lt;h1 class="#[u c-SponsorBlock__Hn]"&gt;Platinum Sponsors&lt;/h1&gt;
          ...
        &lt;/section&gt;
        ...
    h3 All Site Pages
    p.
      On every page other than the Sponsor page, the Sponsor Block should be used
      for the entire list of sponsors (in order by rank) displayed in a rotating
      carousel. This block has no heading, and as such, is not a #[code.docs-code section].
      Instead, it&rsquo;s a #[code.docs-code div] containing a back button,
      followed by an #[em ordered] list of sponsor logo items, followed by
      a forward button. The list should be ordered because the sponsors are
      displayed by rank (highest ranking sponsors first).
    figure.docs-figure
      div.o-GridFlex.c-SponsorBlock
        button.o-GridFlex__Item.c-Btn.c-Btn--inline.c-Btn--flat.c-SponsorBlock__Btn.c-SponsorBlock__Btn--back #[i.material-icons chevron_left] #[span.-d-n &laquo;]
        ol.o-GridFlex__Item.o-ListBare.o-GridFlex.c-SponsorBlock__Carousel
          li.o-GridFlex__Item.c-SponsorBlock__Carousel__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--lrg(href="" style="background-image: url('http://2016.asceconvention.org/sites/default/files/bank-of-america-logo.jpg');") Bank of America
            small.c-SponsorBlock__Label Platinum
          li.o-GridFlex__Item.c-SponsorBlock__Carousel__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--lrg(href="" style="background-image: url('http://2016.asceconvention.org/sites/default/files/ups-logo.jpg');") UPS
            small.c-SponsorBlock__Label Platinum
          li.o-GridFlex__Item.c-SponsorBlock__Carousel__Item
            a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--lrg(href="" style="background-image: url('http://2016.asceconvention.org/sites/default/files/geico-logo.gif');") Geico
            small.c-SponsorBlock__Label Silver
        button.o-GridFlex__Item.c-Btn.c-Btn--inline.c-Btn--flat.c-SponsorBlock__Btn.c-SponsorBlock__Btn--fwrd #[i.material-icons chevron_right] #[span.-d-n &raquo;]
      pre.docs-pre.
        &lt;div class="o-GridFlex  #[u c-SponsorBlock]"&gt;
          &lt;button class="o-GridFlex__Item  c-Btn  c-Btn--inline  c-Btn--flat  #[u c-SponsorBlock__Btn]  #[u c-SponsorBlock__Btn--back]"&gt;
            &lt;i class="material-icons"&gt;chevron_left&lt;/i&gt;
          &lt;/button&gt;
          &lt;ol class="o-GridFlex__Item  o-ListBare  o-GridFlex  #[u c-SponsorBlock__Carousel]"&gt;
            &lt;li class="o-GridFlex__Item"  #[u c-SponsorBlock__Carousel__Item]&gt;
              &lt;a class="o-Block  #[u c-SponsorBlock__Logo]  #[u c-SponsorBlock__Logo--lrg]"&gt;Bank of America&lt;/a&gt;
              &lt;small class="#[u c-SponsorBlock__Label]"&gt;Platinum&lt;/small&gt;
            &lt;/li&gt;
            ...
          &lt;/ol&gt;
          &lt;button class="o-GridFlex__Item  c-Btn  c-Btn--inline  c-Btn--flat  #[u c-SponsorBlock__Btn]  #[u c-SponsorBlock__Btn--fwrd]"&gt;
            &lt;i class="material-icons"&gt;chevron_right&lt;/i&gt;
          &lt;/button&gt;
        &lt;/div&gt;
  section.sg-sect#date-block
    h2 The Date Block
    figure.docs-figure
      dl.c-DateBlock
        dt.c-DateBlock__Date
          time(datetime="2015-10-12") Oct 12, 2015
        dd.c-DateBlock__Desc
          | Optional Final Papers Due
        dt.c-DateBlock__Date
          time(datetime="2015-12-17") Dec 17, 2015
        dd.c-DateBlock__Desc
          a.o-Block.c-DateBlock__Link(href="")
            | Early-Bird Registration Closes
            i.material-icons arrow_forward
      pre.docs-pre.
        &lt;dl class="#[u c-DateBlock]"&gt;
          &lt;dt class="#[u c-DateBlock__Date]"&gt;
            &lt;time datetime="2015-10-12"&gt;Oct 12, 2015&lt;/time&gt;
          &lt;/dt&gt;
          &lt;dd class="#[u c-DateBlock__Desc]"&gt;
            Optional Final Papers Due
          &lt;/dd&gt;
          &lt;dt class="#[u c-DateBlock__Date]"&gt;
            &lt;time datetime="2015-12-17"&gt;Dec 17, 2015&lt;/time&gt;
          &lt;/dt&gt;
          &lt;dd class="#[u c-DateBlock__Desc]"&gt;
            &lt;a class="o-Inline  #[u c-DateBlock__Link]"&gt;
              Early-Bird Registration Closes
              &lt;i class="material-icons"&gt;arrow_forward&lt;/i&gt;
            &lt;/a&gt;
          &lt;/dd&gt;
        &lt;/dl&gt;
  section.sg-sect#pass-component
    h2 The Pass Component
    p The Pass Component should be an #[code.docs-code article] element.
    p.
      Remember that this is not a demonstration of an entire Pass Component.
      This simply demonstrates the Component&rsquo;s styles and the styles
      of its subcomponents. For a full demonstration, see the sample page.
    figure.docs-figure
      article.c-Pass(style="margin-bottom: 1.5rem;")
        header.c-Pass__Head
          h1.c-Pass__Hn Speaker Pass
          p.c-Pass__Desc Speakers and Presenters
        section.c-Pass__Body.c-Pass__Period
          h1.c-Pass__Period__Hn Advance
          dl
            dt.c-Pass__Period__Attendee Non-Member
            dd.c-Pass__Period__Price $945
            dt.c-Pass__Period__Attendee Member
            dd.c-Pass__Period__Price.c-Pass__Price--featured $845
        footer.o-GridFlex.c-Pass__Foot
          section.o-GridFlex__Item.-w-1o2.c-Pass__Period
            h1.c-Pass__Period__Hn Advance
            dl
              dt.c-Pass__Period__Attendee Non-Member
              dd.c-Pass__Period__Price $945
              dt.c-Pass__Period__Attendee Member
              dd.c-Pass__Period__Price $845
          section.o-GridFlex__Item.-w-1o2.c-Pass__Period
            h1.c-Pass__Period__Hn Advance
            dl
              dt.c-Pass__Period__Attendee Non-Member
              dd.c-Pass__Period__Price $945
              dt.c-Pass__Period__Attendee Member
              dd.c-Pass__Period__Price $845
      pre.docs-pre.
        &lt;article class="#[u c-Pass]"&gt;
          &lt;header class="#[u c-Pass__Head]"&gt;
            &lt;h1 class="#[u c-Pass__Hn]"&gt;Speaker Pass&lt;/h1&gt;
            &lt;p class="#[u c-Pass__Desc]"&gt;Speakers and Presenters&lt;/p&gt;
          &lt;/header&gt;
          &lt;section class="#[u c-Pass__Body]  #[u c-Pass__Period]"&gt;
            &lt;h1 class="#[u c-Pass__Period__Hn]"&gt;Advance&lt;/h1&gt;
            &lt;dl&gt;
              &lt;dt class="#[u c-Pass__Period__Attendee]"&gt;Non-Member&lt;/dt&gt;
              &lt;dd class="#[u c-Pass__Period__Price]&gt;$945&lt;/dd&gt;
              &lt;dt class="#[u c-Pass__Period__Attendee]"&gt;Member&lt;/dt&gt;
              &lt;dd class="#[u c-Pass__Period__Price]  #[u c-Pass__Price--featured]&gt;$845&lt;/dd&gt;
            &lt;/dl&gt;
          &lt;/section&gt;
          &lt;footer class="o-GridFlex  #[u c-Pass__Foot]"&gt;
            &lt;section class="o-GridFlex__Item  #[u c-Pass__Period]"&gt;
              ...
            &lt;/section&gt;
            &lt;section class="o-GridFlex__Item  #[u c-Pass__Period]"&gt;
              ...
            &lt;/section&gt;
          &lt;/footer&gt;
        &lt;/article&gt;
  section.sg-sect#program-component
    h2 The Program Component
    p.
      Enable Javascript to experience visual effects.
    figure.docs-figure
      include /includes/components/_c-Program.jade
      +program(3, {id:'demoprog'})
      pre.docs-pre.
        &lt;section class="o-GridFlex  #[u c-Program]" id="demoprog"&gt;
          &lt;h1 class="o-GridFlex__Item  #[u c-Program__Hn]"&gt;
            &lt;label&gt;
              &lt;input class="#[u c-Program__Check]" type="radio" name="program-demoprog" value="0" checked=""/&gt;
              heading 0
            &lt;/label&gt;
          &lt;/h1&gt;
          &lt;div class="o-GridFlex__Item  #[u c-Program__Schedule]"&gt;content 0&lt;/div&gt;

          &lt;h1 class="o-GridFlex__Item  #[u c-Program__Hn]"&gt;... heading 1 ...&lt;/h1&gt;
          &lt;div class="o-GridFlex__Item  #[u c-Program__Schedule]"&gt;content 1&lt;/div&gt;
          ...
        &lt;/section&gt;
    p.
      Since the Program Component will be used to display program event information,
      the headings will be dates. Each heading should have the following structure
      and include similar data.
      Elements with class #[code.docs-code .js-*] are required for Javascript.
    figure.sg-c-Fig
      - var sampevent = { startDate: '2016-09-28 10:10', endDate: '2016-09-28 19:00', name: 'Registration' }
      h1.o-GridFlex__Item.c-Program__Hn: label
        include /includes/components/_c-Program.jade
        +programHeading(sampevent)
      pre.
        &lt;h1 class="#[u c-Program__Hn]"&gt;
          &lt;label&gt;
            &lt;input class="#[u c-Program__Check]" .../&gt;
            &lt;time datetime="2016-09-28"&gt;
              &lt;span class="#[u js-o-Block-sK]"&gt;Wednesday, &lt;/span&gt;
              &lt;span class="#[u js-o-Block-sK]"&gt;Sep 28&lt;/span&gt;
            &lt;/time&gt;
          &lt;/label&gt;
        &lt;/h1&gt;
  section.sg-sect#time-block
    h2 The Time Block
    figure.docs-figure
      dl.o-GridFlex.c-TimeBlock
        dt.o-GridFlex__Item.c-TimeBlock__Times
          time= hourTime12(new Date(new Date().setHours(10, 30)))
          | &ndash;
          time= hourTime12(new Date(new Date().setHours(17, 0)))
        dd.o-GridFlex__Item.c-TimeBlock__Desc
          a.o-Block.c-TimeBlock__Link(href="")
            | Technical Tours
            i.material-icons arrow_forward
        dt.o-GridFlex__Item.c-TimeBlock__Times
          time= hourTime12(new Date(new Date().setHours(13, 0)))
          | &ndash;
          time= hourTime12(new Date(new Date().setHours(16, 30)))
        dd.o-GridFlex__Item.c-TimeBlock__Desc Short Courses
      pre.docs-pre.
        &lt;dl class="o-GridFlex  #[u c-TimeBlock]"&gt;
          &lt;dt class="o-GridFlex__Item  #[u c-TimeBlock__Times]"&gt;
            &lt;time&gt;10:30am&lt;/time&gt;&ndash;&lt;time&gt;5pm&lt;/time&gt;
          &lt;/dt&gt;
          &lt;dd class="o-GridFlex__Item  #[u c-TimeBlock__Desc]"&gt;
            &lt;a class="o-Block  #[u c-TimeBlock__Link]"&gt;Technical Tours&lt;/a&gt;
          &lt;/dd&gt;
          &lt;dt class="o-GridFlex__Item  #[u c-TimeBlock__Times]"&gt;...&lt;/dt&gt;
          &lt;dd class="o-GridFlex__Item  #[u c-TimeBlock__Desc]"&gt;...&lt;/dd&gt;
          ...
        &lt;/dl&gt;
  section.sg-sect#speaker-component
    h2 The Speaker Component
    figure.docs-figure
      article.c-Speaker(style="margin-bottom: 1.5rem;")
        div.c-Speaker__Img(style="background-image: url(../sample/img/headshot1.jpg)")
          header.c-Speaker__Head
            h1.c-Speaker__Name Donna Fulman, P.ASCE
            p.c-Speaker__JobTitle Interior Engineering Administration
        div.c-Speaker__Body
          div.c-Speaker__Bio
            p Donna Fulman is an award-winning, German designer raised in Austria and currently living in New York City.
            p Former Lead Product Designer and Art Director at Spotify, she recently founded Semplice and at the same time serves on the AIGA Board of Directors in New York.
          footer: ul.o-ListBare
            li.o-Inline: a.c-Speaker__Link(href="") Email
            li.o-Inline: a.c-Speaker__Link(href="") LinkedIn
            li.o-Inline: a.c-Speaker__Link(href="") Twitter
      pre.docs-pre.
        &lt;article class="#[u c-Speaker]"&gt;
          &lt;div class="#[u c-Speaker__Img]" #[u style="background-image: url('#[var= '/path-to-img-src/']');"]&gt;
            &lt;header class="#[u c-Speaker__Head]"&gt;
              &lt;h1 class="#[u c-Speaker__Name]"&gt;Donna Fulman, P.ASCE&lt;/h1&gt;
              &lt;p class="#[u c-Speaker__JobTitle]"&gt;Interior Engineering Administration&lt;/p&gt;
            &lt;/header&gt;
          &lt;/div&gt;
          &lt;div class="#[u c-Speaker__Body]"&gt;
            &lt;div class="#[u c-Speaker__Bio]"&gt;
              &lt;p&gt;Donna Fulman is ...&lt;/p&gt;
              &lt;p&gt;Former Lead Product Designer ...&lt;/p&gt;
            &lt;/div&gt;
            &lt;ul class="o-ListBare"&gt;
              &lt;li class="o-Inline"&gt;&lt;a class="#[u c-Speaker__Link]"&gt;Email&lt;/a&gt;&lt;/li&gt;
              ...
            &lt;/ul&gt;
          &lt;/div&gt;
        &lt;/article&gt;
  section.sg-sect#social-list
    h2 The Social List
    p.
      There are two Social List styles: one is a normal list, placeable anywhere,
      and the second is inside a #[code.docs-code footer] element.
    figure.docs-figure
      ul.o-ListBare.o-GridFlex.c-SocialList
        li.o-GridFlex__Item.c-SocialList__Item
          a.o-Block.c-SocialList__Link.c-SocialList__Link--twitter(href="" title="Follow #ASCE2016 on Twitter")
        li.o-GridFlex__Item.c-SocialList__Item
          a.o-Block.c-SocialList__Link.c-SocialList__Link--google(href="" title="Follow #ASCE2016 on Google+")
        li.o-GridFlex__Item.c-SocialList__Item
          a.o-Block.c-SocialList__Link.c-SocialList__Link--facebook(href="" title="Follow #ASCE2016 on Facebook")
      ul.o-ListBare.o-GridFlex.c-SocialList
        li.o-GridFlex__Item.c-SocialList__Item
          span menu item hover:
          a.o-Block.c-SocialList__Link.c-SocialList__Link--twitter(href="" title="Follow #ASCE2016 on Twitter")._hover
        li.o-GridFlex__Item.c-SocialList__Item
          span menu item active:
          a.o-Block.c-SocialList__Link.c-SocialList__Link--twitter(href="" title="Follow #ASCE2016 on Twitter")._active
      footer
        p This is a #[code.docs-code footer] element.
        ul.o-ListBare.o-GridFlex.c-SocialList
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--twitter(href="" itemprop="sameAs" title="Follow ASCE on Twitter")
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--google(href="" itemprop="sameAs" title="Follow ASCE on Google+")
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--facebook(href="" itemprop="sameAs" title="Follow ASCE on Facebook")
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--linkedin(href="" itemprop="sameAs" title="Follow ASCE on LinkedIn")
          li.o-GridFlex__Item.c-SocialList__Item
            a.o-Block.c-SocialList__Link.c-SocialList__Link--youtube(href="" itemprop="sameAs" title="Follow ASCE on YouTube")
        ul.o-ListBare.o-GridFlex.c-SocialList
          li.o-GridFlex__Item.c-SocialList__Item
            span in footer menu item hover:
            a.o-Block.c-SocialList__Link.c-SocialList__Link--twitter(href="" title="Follow #ASCE2016 on Twitter")._hover
          li.o-GridFlex__Item.c-SocialList__Item
            span in footer menu item active:
            a.o-Block.c-SocialList__Link.c-SocialList__Link--twitter(href="" title="Follow #ASCE2016 on Twitter")._active
      pre.docs-pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u c-SocialList]"&gt;
          &lt;li class="o-GridFlex__Item  #[u c-SocialList__Item]"&gt;
            &lt;a class="o-Block  #[u c-SocialList__Link]  #[u c-SocialList__Link--twitter]"&gt;&lt;/a&gt;
          &lt;/li&gt;
          ...
        &lt;/ul&gt;
        &lt;footer&gt;
          #[small &lt;!-- second social list exactly the same structure as above --&gt;]
        &lt;/footer&gt;
  section.sg-sect#callout-component
    h2 The Callout Component
    figure.docs-figure
      p.c-Callout A callout! Use whatever the heck element you want, even a #[code.docs-code &lt;figure&gt;]!
      pre.docs-pre.
        &lt;p class="#[u c-Callout]"&gt;A callout! ...&lt;/p&gt;
    figure.docs-figure
      ul.o-ListBare.o-GridFlex.c-Callout
        li.c-Callout__Item An item in a callout list!
        li.c-Callout__Item Another item in a callout list!
        li.c-Callout__Item Note the padding!
      pre.docs-pre.
        &lt;ul class="o-ListBare  o-GridFlex  #[u c-Callout]"&gt;
          &lt;li class="o-GridFlex__Item  #[u c-Callout__Item]"&gt;...&lt;/li&gt;
          ...
        &lt;/ul&gt;
  section.sg-sect#buttons
    h2 Buttons
    p.
      Buttons are displayed inline-block, so in order to preserve
      vertical rhythm, be sure to contain them in typographical block-level elements
      such as paragraphs or lists.
    p.
      Button Components may be in the form of #[code.docs-code a] elements (links or anchors) or
      #[code.docs-code button] elements.
      Keep in mind these button usage guidelines: #[code.docs-code button]s should
      indicate action and be worded actionably. Use an #[code.docs-code a] instead of a #[code.docs-code button]
      if there is a
      meaningful target href or url. Of course, #[code.docs-code a] elements
      as well as #[code.docs-code button] elements may be styled
      to look like Button Components.
    p Every Button Component must have styles available for each of the following states:
    dl
      dt.-fw-7 default
      dd the button does something or the link goes somewhere, but the user is not interacting with the component
      dt.-fw-7 hover/focus
      dd the user&rsquo;s cursor is hovering over the component, or the user agent is focusing on the component
      dt.-fw-7 active
      dd the user is in the process of clicking the component
      dt.-fw-7 disabled
      dd.
        the element is a #[code.docs-code button] with the #[code.docs-code disabled] attribute or
        is an #[code.docs-code a] with no #[code.docs-code href] attribute.
        the component is inaccessable and/or does nothing, and the user
        may not interact with it
    p.
      Each of these states is demonstrated in the sections below, however
      only the code for the default state is shown.
    p.
      #[strong Important:] colors will vary by site. Colors shown here are
      #[a(href="visual.html#asce2016") ASCE 2016].
    h3 Generic Buttons
    p Generic, general purpose buttons.
    figure.docs-figure
      ul.o-ListBare
        li(style="margin-bottom:0.375rem;"): a.c-Btn(href="#0") generic button
        li(style="margin-bottom:0.375rem;"): a.c-Btn(href="#0")._hover generic button hover
        li(style="margin-bottom:0.375rem;"): a.c-Btn(href="#0")._active generic button active
        li(style="margin-bottom:0.375rem;"): a.c-Btn generic button disabled
      pre.docs-pre.
        &lt;a class="#[u c-Btn]"&gt;generic button&lt;/a&gt;
    h3 Highlight Button Structure
    p Highlight buttons, for large buttons in highlight block.
    figure.docs-figure
      ul.o-ListBare
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--hilite(href="#0") highlight button
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--hilite(href="#0")._hover highlight button hover
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--hilite(href="#0")._active highlight button active
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--hilite highlight button disabled
      pre.docs-pre.
        &lt;a class="#[u c-Btn]  #[u c-Btn--hilite]"&gt;highlight button&lt;/a&gt;
    h3 Inline Buttons Structure
    p Inline buttons, for buttons in line with text.
    figure.docs-figure
      p.
        The following button,
        #[a.c-Btn.c-Btn--inline(href="#0") inline button],
        is in line with the text in this paragraph.
        Lorem ipsum #[a.c-Btn.c-Btn--inline(href="#0")._hover inline button hover] dolor.
        Consectetur #[a.c-Btn.c-Btn--inline(href="#0")._active inline button active] adipiscing elit
        aliquam sagittis #[a.c-Btn.c-Btn--inline inline button disabled] suscipit nunc.
      pre.docs-pre.
        &lt;p&gt;The following button,
          &lt;a class="#[u c-Btn]  #[u c-Btn--inline]"&gt;inline button&lt;/a&gt;,
          is in line with the text in this paragraph. ...&lt;/p&gt;
    h3 Dark Button Color
    p Same as generic button but darker.
    figure.docs-figure
      ul.o-ListBare
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--dark(href="#0") generic dark button
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--dark(href="#0")._hover generic dark button hover
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--dark(href="#0")._active generic dark button active
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--dark generic dark button disabled
      pre.docs-pre.
        &lt;a class="#[u c-Btn]  #[u c-Btn--dark]"&gt;generic dark button&lt;/a&gt;
    h3 Primary Button Color
    p Button with site primary color.
    figure.docs-figure
      ul.o-ListBare
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--primary(href="#0") primary button
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--primary(href="#0")._hover primary button hover
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--primary(href="#0")._active primary button active
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--primary primary button disabled
      pre.docs-pre.
        &lt;a class="#[u c-Btn]  #[u c-Btn--primary]"&gt;primary button&lt;/a&gt;
    h3 Secondary Button Color
    p Button with site secondary color.
    figure.docs-figure
      ul.o-ListBare
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--secondary(href="#0") secondary button
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--secondary(href="#0")._hover secondary button hover
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--secondary(href="#0")._active secondary button active
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--secondary secondary button disabled
      pre.docs-pre.
        &lt;a class="#[u c-Btn]  #[u c-Btn--secondary]"&gt;secondary button&lt;/a&gt;
    h3 Ghost Button Color
    p.
      Ghost buttons can be used on a colored or image background.
      Obviously, choose a background and a button color that won&rsquo;t clash.
    figure.docs-figure
      ul.o-ListBare
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost(href="#0") ghost button
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost(href="#0")._hover ghost button hover
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost(href="#0")._active ghost button active
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost ghost button disabled
      div.o-Highlight.c-Banner(style="z-index:1;")
        ul.o-ListBare
          li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost(href="#0") ghost button inside a banner
          li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost(href="#0")._hover ghost button hover inside a banner
          li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost(href="#0")._active ghost button active inside a banner
          li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghost ghost button disabled inside a banner
      pre.docs-pre.
        &lt;a class="#[u c-Btn]  #[u c-Btn--ghost]"&gt;ghost button&lt;/a&gt;
    h3 Dark Ghost Button Color
    p.
      Same as Ghost buttons but for use on darker background.
    figure.docs-figure
      ul.o-ListBare
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghostDark(href="#0") ghost dark button
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghostDark(href="#0")._hover ghost dark button hover
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghostDark(href="#0")._active ghost dark button active
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghostDark ghost dark button disabled
      div.o-Highlight.c-Banner(style="z-index:1;")
        ul.o-ListBare
          li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghostDark(href="#0") ghost dark button inside a banner
          li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghostDark(href="#0")._hover ghost dark button hover inside a banner
          li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghostDark(href="#0")._active ghost dark button active inside a banner
          li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--ghostDark ghost dark button disabled inside a banner
      pre.docs-pre.
        &lt;a class="#[u c-Btn]  #[u c-Btn--ghostDark]"&gt;ghost dark button&lt;/a&gt;
    h3 Flat Buttons
    p Flat, link-ish buttons.
    figure.docs-figure
      ul.o-ListBare
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--flat(href="#0") flat button
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--flat(href="#0")._hover flat button hover
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--flat(href="#0")._active flat button active
        li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--flat flat button disabled
      div.o-Highlight.c-Banner(style="z-index:1;")
        ul.o-ListBare
          li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--flat(href="#0") flat button inside a banner
          li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--flat(href="#0")._hover flat button hover inside a banner
          li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--flat(href="#0")._active flat button active inside a banner
          li(style="margin-bottom:0.375rem;"): a.c-Btn.c-Btn--flat flat button disabled inside a banner
      pre.docs-pre.
        &lt;a class="#[u c-Btn]  #[u c-Btn--flat]"&gt;flat button&lt;/a&gt;
    h3 Drawer Button Structure
    p Drawer buttons for pull-out menu.
    p.
      These are actually #[code.docs-code button] elements.
      #[i Close] button is fixed to the top right.
      Use with Flat Button styles when inside the masthead.
    figure.docs-figure
      div(style="margin-bottom: 1.5rem;")
        button.c-Btn.c-Btn--flat.c-Btn--drawer open
        button.c-Btn.c-Btn--flat.c-Btn--drawer.c-Btn--drawer--close close
      pre.docs-pre.
        &lt;button class="#[u c-Btn]  u c-Btn--flat  #[u c-Btn--drawer]"&gt;open&lt;/button&gt;
        &lt;button class="#[u c-Btn]  u c-Btn--flat  #[u c-Btn--drawer]  #[u c-Btn--drawer--close]"&gt;close&lt;/button&gt;
      ul.o-ListBare
        li(style="margin-bottom:0.375rem;"): button.c-Btn.c-Btn--drawer drawer button
        li(style="margin-bottom:0.375rem;"): button.c-Btn.c-Btn--drawer._hover drawer button hover
        li(style="margin-bottom:0.375rem;"): button.c-Btn.c-Btn--drawer._active drawer button active
        li(style="margin-bottom:0.375rem;"): button.c-Btn.c-Btn--drawer(disabled) drawer button disabled
    h3 Button Summary Table
    table
      thead: tr
        th Button Style
        th Default Size
        th Highlight Size
        th Inline Size
      tbody
        tr
          th Generic
          td
            a.c-Btn(href="#0") Generic Default
            br
            span .c-Btn
          td
            a.c-Btn.c-Btn--hilite(href="#0") Generic Highlight
            br
            span .c-Btn.c-Btn--hilite
          td
            a.c-Btn.c-Btn--inline(href="#0") Generic Inline
            br
            span .c-Btn.c-Btn--inline
        tr
          th Generic Dark
          td
            a.c-Btn.c-Btn--dark(href="#0") Generic Dark Default
            br
            span .c-Btn.c-Btn--dark
          td
            a.c-Btn.c-Btn--dark.c-Btn--hilite(href="#0") Generic Dark Highlight
            br
            span .c-Btn.c-Btn--dark.c-Btn--hilite
          td
            a.c-Btn.c-Btn--dark.c-Btn--inline(href="#0") Generic Dark Inline
            br
            span .c-Btn.c-Btn--dark.c-Btn--inline
        tr
          th Primary
          td
            a.c-Btn.c-Btn--primary(href="#0") Primary Default
            br
            span .c-Btn.c-Btn--primary
          td
            a.c-Btn.c-Btn--primary.c-Btn--hilite(href="#0") Primary Highlight
            br
            span .c-Btn.c-Btn--primary.c-Btn--hilite
          td
            a.c-Btn.c-Btn--primary.c-Btn--inline(href="#0") Primary Inline
            br
            span .c-Btn.c-Btn--primary.c-Btn--inline
        tr
          th Secondary
          td
            a.c-Btn.c-Btn--secondary(href="#0") Secondary Default
            br
            span .c-Btn.c-Btn--secondary
          td
            a.c-Btn.c-Btn--secondary.c-Btn--hilite(href="#0") Secondary Highlight
            br
            span .c-Btn.c-Btn--secondary.c-Btn--hilite
          td
            a.c-Btn.c-Btn--secondary.c-Btn--inline(href="#0") Secondary Inline
            br
            span .c-Btn.c-Btn--secondary.c-Btn--inline
        tr
          th Ghost
          td
            a.c-Btn.c-Btn--ghost(href="#0") Ghost Default
            br
            span .c-Btn.c-Btn--ghost
          td
            a.c-Btn.c-Btn--ghost.c-Btn--hilite(href="#0") Ghost Highlight
            br
            span .c-Btn.c-Btn--ghost.c-Btn--hilite
          td
            a.c-Btn.c-Btn--ghost.c-Btn--inline(href="#0") Ghost Inline
            br
            span .c-Btn.c-Btn--ghost.c-Btn--inline
        tr(style="background-color: #555;")
          th Ghost Dark
          td
            a.c-Btn.c-Btn--ghostDark(href="#0") Ghost Dark Default
            br
            span .c-Btn.c-Btn--ghostDark
          td
            a.c-Btn.c-Btn--ghostDark.c-Btn--hilite(href="#0") Ghost Dark Highlight
            br
            span .c-Btn.c-Btn--ghostDark.c-Btn--hilite
          td
            a.c-Btn.c-Btn--ghostDark.c-Btn--inline(href="#0") Ghost Dark Inline
            br
            span .c-Btn.c-Btn--ghostDark.c-Btn--inline
        tr
          th Flat
          td
            a.c-Btn.c-Btn--flat(href="#0") Flat Default
            br
            span .c-Btn.c-Btn--flat
          td
            a.c-Btn.c-Btn--flat.c-Btn--hilite(href="#0") Flat Highlight
            br
            span .c-Btn.c-Btn--flat.c-Btn--hilite
          td
            a.c-Btn.c-Btn--flat.c-Btn--inline(href="#0") Flat Inline
            br
            span .c-Btn.c-Btn--flat.c-Btn--inline
  section.sg-sect#text-level-components
    h2 Text-Level Components
    h3 Camo Links
    p.
      A Camo Link is a link that blends with its surrounding text.
      It unsets the default styles assigned to unclassed #[code.docs-code a] elements
      (also known as anchors).
      Essentially, use it for when you need a link but don&rsquo;t
      want to expose it to the user.
      In fact, this class can be used on any element, not just anchors.
    figure.docs-figure
      p Inside this paragraph is a #[a.c-Camo(href="") camouflaged link]. See where you can find it.
      pre.docs-pre.
        &lt;p&gt;Inside this paragraph is a
          &lt;a class="#[u c-Camo]"&gt;camouflaged link&lt;/a&gt;.
          See where you can find it.&lt;p&gt;
    p.
      #[strong Note to developers:] the #[code.docs-code .c-Camo]
      class uses #[code.docs-code !important] on
      all its styles, so use only when necessary. And if possible, use on the
      innermost element. E.g.:
    pre.docs-pre.
      &lt;span&gt;&lt;a class="c-Camo"&gt;correct&lt;/a&gt;&lt;/span&gt;
      #[small!= '&lt;!-- a class="c-Camo"&gt;&lt;span&gt;incorrect&lt;/span&gt;&lt;/a --&gt;']
