doctype html
html(lang="en")
  head
    block vars
      - var site_title = 'ASCE Convention'
      - var site_tagline = 'The Flagship Event of ASCE'
      - var conference_name = 'ASCE 2016'
      - var conference_theme = 'Engineering > Innovating > Leading'
      - var tag_title = ''
      - var tag_meta_description = ''
      - var tag_meta_keywords = ['ASCE', 'civil engineering', 'convention']
    title= tag_title
    meta(charset="utf-8")
    meta(name="description" content=tag_meta_description)
    meta(name="keywords" content=tag_meta_keywords)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../node_modules/xmeter/xmeter.min.css")
    link(rel="stylesheet" href="../node_modules/bangs/bangs.min.css")
    link(rel="stylesheet" href="../styles/conf.css")
    link(rel="stylesheet" href="styles/this.css")
    block style
      style.
        .t-Callouts {
          border-left: 8px solid #e0e;
        }
        .is-editable {
          background-color: rgba(219, 255, 64, 0.64);
        }
        .is-editable::before {
          content: 'editable content block (no heading)';
          display: block;
          margin-bottom: 1.5rem;
          font-weight: 900;
          text-transform: uppercase;
          color: red;
        }
        section.is-editable {
          background-color: rgba(255, 219, 64, 0.64);
        }
        section.is-editable::before {
          content: 'editable <section> with heading';
        }
  body
    mixin action-buttons()
      ul.o-ListBare.o-GridFlex.o-ListStacked
        li.o-GridFlex__Item.o-ListStacked__Item: a(href="") Registor Today
        li.o-GridFlex__Item.o-ListStacked__Item: a(href="") Become A Sponsor
        li.o-GridFlex__Item.o-ListStacked__Item: a(href="") Submit Papers
    mixin date-place()
      p.o-GridFlex.o-ListStacked.-xjc-c
        span.o-GridFlex__Item.o-Block.o-ListStacked__Item(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
          span(itemprop="name")
            span(itemprop="addressLocality") Portland, 
            abbr(itemprop="addressRegion" title="Oregon") OR
        span.o-GridFlex__Item.o-Block.o-ListStacked__Item
          time(datetime="2016-09-28" itemprop="startDate") Sep 28
          | &ndash;
          time(datetime="2016-10-01" itemprop="endDate") Oct 1
    mixin important-date-block()
      dl.o-GridFlex.c-DateBlock
        mixin row(year, month, day, datetime, description)
          dt.o-GridFlex__Item: time.o-Block(datetime=datetime)
            span.o-Block= month + ' ' + day
            span.o-Block= year
          dd.o-GridFlex__Item= description
        +row('2015','Oct','12', '2015-10-12','Optional Final Papers Due')
        +row('2015','Dec','17', '2015-12-17','Early-Bird Registration Closes')
        +row('2016','Jan','12', '2016-01-12','Advance Registration Closes')
    mixin program-block(classes, datetext, data)
      section.o-GridFlex__Item(class=classes)
        h1= datetext
        dl.o-GridFlex.c-TimeBlock
          mixin row(starttime, endtime, description)
            dt.o-GridFlex__Item
              span= starttime
              | –
              span= endtime
            dd.o-GridFlex__Item= description
          each val in data
            +row(val.starttime, val.endtime, val.description)
    mixin sponsor-block()
      mixin sponsortype(category, category_class, spons)
        section.o-Highlight.c-SponsorBlock(class='c-SponsorBlock--'+category_class)
          h1.o-Highlight__Hn= category
          ul.o-ListBare.o-GridFlex.o-ListSponsors
            each item in spons
              if (category_class !== 'bronze') && (category_class !== 'copper')
                - var logosizes = { premier: 'lrg', platinum: 'lrg', gold: 'med', corporate: 'sml', silver: 'sml' }
                li.o-GridFlex__Item.o-ListSponsors__Item
                  a.o-Block.o-ListSponsors__Logo.c-SponsorBlock__Logo(class='o-ListSponsors__Logo--'+logosizes[category_class] href="" title=item.name style='background-image: url(' + item.url + ');')
              else
                li.o-GridFlex__Item.o-ListSponsors__Item
                  a.o-Block.o-ListSponsors__Text.c-SponsorBlock__Text(href="")= item.name
      - var sponsors = [ { name: 'Bank of America', url: 'img/logo-bank-america.png' }, { name: 'UPS', url: 'img/logo-ups.png' }, { name: 'Geico', url: 'img/logo-geico.png' } ]
      +sponsortype('Premier', 'premier', sponsors)
      +sponsortype('Platinum', 'platinum', sponsors)
      +sponsortype('Gold', 'gold', sponsors)
      +sponsortype('Corporate Sponsors', 'corporate', sponsors)
      +sponsortype('Silver', 'silver', sponsors)
      +sponsortype('Bronze', 'bronze', sponsors)
      +sponsortype('Copper', 'copper', sponsors)
    header
      div.o-GridFlex.o-Runner.c-Mast
        a.o-GridFlex__Item.o-Block.c-Mast__Title(href="")
          h1= site_title
          p= site_tagline
        nav.o-GridFlex__Item.o-GridFlex.c-Mast__Nav
          ul.o-GridFlex__Item.o-ListBare.o-GridFlex.c-MenuUniversal
            li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="") About
            li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="") Sponsor
            li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="") Exhibit
            li.o-GridFlex__Item.c-MenuUniversal__Item: a.o-Block.c-MenuUniversal__Link(href="") Contact
          div.o-GridFlex__Item.c-Mast__Nav__ButtonContainer
            button.o-Block.c-Mast__Nav__ButtonContainer__MenuButton menu
            a.o-Block.c-Mast__Nav__ButtonContainer__CurrentButton(href="") 2016 Convention
      unless page_type === 'landing'
        nav.o-Runner.c-MenuStandard.-pv-0
          ul.o-ListBare.o-GridFlex.-mb-z
            li.o-GridFlex__Item.c-MenuStandard__Item
              a.o-Block.c-MenuStandard__Link(href="") Home
            li.o-GridFlex__Item.c-MenuStandard__Item
              a.o-Block.c-MenuStandard__Link(href="") Register
              ul.o-ListBare.c-MenuSub(class=(page_name==='Register' ? 'c-MenuSub--active' : ''))
                li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Why Attend
                li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Register Submenu Item 2
                li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Register Submenu Item 3
            li.o-GridFlex__Item.c-MenuStandard__Item
              a.o-Block.c-MenuStandard__Link(href="") Program
              ul.o-ListBare.c-MenuSub(class=(page_name==='Program' ? 'c-MenuSub--active' : ''))
                li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Events
                li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Program Submenu Item 2
                li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Program Submenu Item 3
            li.o-GridFlex__Item.c-MenuStandard__Item
              a.o-Block.c-MenuStandard__Link(href="") Hotel &amp; Travel
              ul.o-ListBare.c-MenuSub(class=(page_name==='Hotel & Travel' ? 'c-MenuSub--active' : ''))
                li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") International Travel
                li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Location Submenu Item 2
                li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Location Submenu Item 3
            li.o-GridFlex__Item.c-MenuStandard__Item
              a.o-Block.c-MenuStandard__Link(href="") Speakers
              ul.o-ListBare.c-MenuSub(class=(page_name==='Speakers' ? 'c-MenuSub--active' : ''))
                li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Call for Submissions
                li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Our Lineup
                li.c-MenuSub__Item: a.o-Block.c-MenuSub__Link(href="") Become a Speaker
    block dominant
      section(itemscope="" itemtype="http://schema.org/Event")
        main
          block highlights_main
        div.t-Callouts
          block highlights_callouts
    footer.o-GridFlex.o-Runner.c-Mast.-pb-0(itemscope="" itemtype="http://schema.org/NGO")
      section.o-GridFlex__Item.-w-1o2-sM
        h1 Contact Us
        address(itemprop="contactPoint" itemscope="" itemtype="http://schema.org/ContactPoint")
          ul.o-ListBare
            li: a(href="tel:+1-800-548-2723") (800) 548-2723
            li
              meta(content="customer support" itemprop="contactType")
              meta(content="+1-703-295-6300" itemprop="telephone")
              a(href="tel:+1-703-295-6300") +1 (703) 295-6300
      section.o-GridFlex__Item.-w-1o2-sM
        h1 Connect With ASCE
        ul.o-ListBare.o-GridFlex.c-SocialList
          li.o-GridFlex__Item.c-SocialList__Item: a.c-SocialList__Link(href="" itemprop="sameAs") LinkedIn
          li.o-GridFlex__Item.c-SocialList__Item: a.c-SocialList__Link(href="" itemprop="sameAs") Facebook
          li.o-GridFlex__Item.c-SocialList__Item: a.c-SocialList__Link(href="" itemprop="sameAs") Twitter
          li.o-GridFlex__Item.c-SocialList__Item: a.c-SocialList__Link(href="" itemprop="sameAs") YouTube
          li.o-GridFlex__Item.c-SocialList__Item: a.c-SocialList__Link(href="" itemprop="sameAs") Google+
      div.o-GridFlex__Item.c-Copyright
        a.o-Block.c-Copyright__Link.-c-w(href="http://www.asce.org" itemprop="url").
          &copy; #[time 1996]&ndash;#[time 2016] #[span(itemprop="name") American Society of Civil Engineers]
