mixin action-buttons(arr, vanity)
  ul.o-ListBare.o-GridFlex.o-ListStacked
    each str in arr
      li.o-GridFlex__Item.o-ListStacked__Item
        if vanity
          span= str
        else
          a(href="")= str

mixin actionbuttons(arr, classes)
  ul.o-ListBare.o-GridFlex.o-ListStacked
    each obj in arr
      - obj.attrs = obj.attrs || {}
      li.o-GridFlex__Item.o-ListStacked__Item
        a(class=classes href=obj.href)&attributes(obj.attrs)= obj.text

mixin date-place()
  p.o-GridFlex.o-ListStacked.-xjc-c
    span.o-GridFlex__Item.o-Block.o-ListStacked__Item(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
      span(itemprop="name")
        span(itemprop="addressLocality") Portland, 
        abbr(itemprop="addressRegion" title="Oregon") OR
    span.o-GridFlex__Item.o-Block.o-ListStacked__Item
      time(datetime="2016-09-28" itemprop="startDate") Sep 28
      | &ndash;
      time(datetime="2016-10-01" itemprop="endDate") Oct 1

mixin important-date-content()
  dl.o-GridFlex.c-DateBlock
    mixin row(year, month, day, datetime, description)
      dt.o-GridFlex__Item: time.o-Block(datetime=datetime)
        span.o-Block= month + ' ' + day
        span.o-Block= year
      dd.o-GridFlex__Item= description
    +row('2015','Oct','12', '2015-10-12','Optional Final Papers Due')
    +row('2015','Dec','17', '2015-12-17','Early-Bird Registration Closes')
    +row('2016','Jan','12', '2016-01-12','Advance Registration Closes')

mixin registration-content()
  p registration content goes here
  +actionbuttons([{text:'Register', href:'register.html'}], 'c-Btn c-Btn--hilite')

mixin num-speakers(n)
  ul.o-ListBare.o-GridFlex.o-ListSpeakers
    - for (var i = 0; i < n; i++)
      li.o-GridFlex__Item.o-ListSpeakers__Item.c-Speaker
        p.c-Speaker__Name Donna Fulman, P.ASCE
        p.c-Speaker__JobTitle Interior Engineering Administration
        div.o-ListSpeakers__Over.c-Speaker__Desc
          p Tobias van Schneider is an award-winning, German designer raised in Austria and currently living in New York City.
          p Former Lead Product Designer and Art Director at Spotify, he recently founded Semplice and at the same time serves on the AIGA Board of Directors in New York.
          p
            a.c-Speaker__Link(href="") Email
            a.c-Speaker__Link(href="") LinkedIn
            a.c-Speaker__Link(href="") Twitter

mixin speakers-content()
  +num-speakers(3)
  +actionbuttons([{text:'All Speakers', href:'speakers.html'}], 'c-Btn c-Btn--hilite')

mixin cochairs-content()
  ul.o-ListBare
    li #[b Thomas J. McCollough], P.E., M.ASCE
    li #[b Stephen E. Dickenson], Ph.D., P.E., D.PE, M.ASCE

mixin program-content()
  mixin program-block(classes, datetext, data)
    section.o-GridFlex__Item(class=classes)
      h1= datetext
      dl.o-GridFlex.c-TimeBlock
        mixin row(starttime, endtime, description)
          dt.o-GridFlex__Item
            span= starttime
            | –
            span= endtime
          dd.o-GridFlex__Item= description
        each val in data
          +row(val.starttime, val.endtime, val.description)
  div.o-GridFlex
    +program-block(['o-GridFlex__Item','-w-1o2'], 'Wednesday, April 5', [
      { starttime: '7am', endtime: 'Noon', description: 'General Services Contractor Setup' }
    , { starttime: '8am', endtime: '11pm', description: 'Committee Meetings' }
    , { starttime: 'Noon', endtime: '6pm', description: 'Registration & ASCE Bookstore Hours' }
    ])
    +program-block(['o-GridFlex__Item','-w-1o2'], 'Thursday, April 6', [
      { starttime: '07:00', endtime: '08:00', description: 'Continental Breakfast' }
    , { starttime: '09:30', endtime: '10:00', description: 'Morning Refreshment Break' }
    , { starttime: '18:30', endtime: '20:00', description: 'Welcome Reception' }
    ])
  +actionbuttons([{text:'Full Program', href:'program.html'}], 'c-Btn c-Btn--hilite')

mixin location-content()
  p location content goes here

mixin contact-content()
  form
    label
      | name
      input(type="text")
    label
      | email
      input(type="email")
    label
      | message
      textarea
    button submit

mixin sponsor-content()
  mixin sponsor-block(category, category_class, spons)
    section.o-Highlight.c-SponsorBlock(class='c-SponsorBlock--'+category_class)
      h1.o-Highlight__Hn= category
      ul.o-ListBare.o-GridFlex.o-ListSponsors
        each item in spons
          if (category_class !== 'bronze') && (category_class !== 'copper')
            - var logosizes = { premier: 'lrg', platinum: 'lrg', gold: 'med', corporate: 'sml', silver: 'sml' }
            li.o-GridFlex__Item.o-ListSponsors__Item
              a.o-Block.o-ListSponsors__Logo.c-SponsorBlock__Logo(class='o-ListSponsors__Logo--'+logosizes[category_class] href="" title=item.name style='background-image: url(\'' + item.url + '\');')
          else
            li.o-GridFlex__Item.o-ListSponsors__Item
              a.o-ListSponsors__Text.c-SponsorBlock__Text(href="")= item.name
  - var sponsors = [ { name: 'Bank of America', url: 'img/logo-bank-america.png' }, { name: 'UPS', url: 'img/logo-ups.png' }, { name: 'Geico', url: 'img/logo-geico.png' } ]
  +sponsor-block('Premier', 'premier', sponsors)
  +sponsor-block('Platinum', 'platinum', sponsors)
  +sponsor-block('Gold', 'gold', sponsors)
  +sponsor-block('Corporate Sponsors', 'corporate', sponsors)
  +sponsor-block('Silver', 'silver', sponsors)
  +sponsor-block('Bronze', 'bronze', sponsors)
  +sponsor-block('Copper', 'copper', sponsors)

mixin minimal-text-block()
  div.o-Highlight.minimal-text
    p.
      Join civil engineering professionals from around the world at
      this ASCE flagship event. Network with peers, earn PDHs, and
      expand your knowledge base.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    ul
      li 3&frac12; days of premier educational and networking events
      li 15 tracks and 6 plenary sessions focusing on ...
      li Prestigious awards and keynote lecture presentations
      li Lively programs for studdnts and young professionals

mixin rich-text-block()
  div.o-Highlight.rich-text
    h2 a heading
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    h3 another heading
    blockquote Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci.
    ul
      li 3&frac12; days of premier educational and networking events
      li 15 tracks and 6 plenary sessions focusing on ...
      li Prestigious awards and keynote lecture presentations
      li Lively programs for studdnts and young professionals
    h2 a heading
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    h3 another heading
    blockquote Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci.
