mixin hero(event0)
  - event0 = event0 || {}
  h1.c-PageTitle.c-Hero__Name(id=urlify(event0.name) itemprop="name")= event0.name
  p.c-Hero__Detail
    span.c-Hero__Place(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
      span(itemprop="name")
        span(itemprop="addressLocality")= event0.addressLocality + ', '
        if event0.addressRegion.name && event0.addressRegion.abbr
          abbr(itemprop="addressRegion" title=event0.addressRegion.name)= event0.addressRegion.abbr
        else
          span(itemprop="addressRegion")= event0.addressRegion.name || event0.addressRegion
    span.c-Hero__Dates
      time(datetime=event0.startDate itemprop="startDate")
        - var start = new Date(event0.startDate)
        = month_names[start.getUTCMonth()].slice(0,3) + ' ' + start.getUTCDate()
      | &ndash;
      time(datetime=event0.endDate itemprop="endDate")
        - var end = new Date(event0.endDate)
        = month_names[end.getUTCMonth()].slice(0,3) + ' ' + end.getUTCDate()
  p.c-Hero__Theme(itemprop="description")
    if event0.theme
      = event0.theme
    else
      | &nbsp;

+hero(conference.current)
