doctype html
html(lang="en")
  include /includes/_data.jade
  block varsSite
    -
      var site = new Site()
        .setConference('current', new Conference())
        .setCurrentConference('current')
  block varsPage
    -
      var page = new Page()
  block vars
    -
      var pagetype = (site.pages.top.find(function (item)  { return item === page })) ? 'top'  :
                     (site.pages.main.find(function (item) { return item === page })) ? 'main' :
                     (site.pages.main.find(function (mainpage) { return mainpage.sub.find(function (item) { return item === page }) })) ? 'main' :
                     ''
  head
    title= page.getTitle()
    block metas
      meta(charset="utf-8")
      meta(name="description" content=page.getDescription())
      meta(name="keywords" content=site.keywords)
      meta(name="viewport" content="width=device-width, initial-scale=1")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
    block styles
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic")
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,400italic,700")
      link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
      link(rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
      link(rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css")
      //- link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/xmeter/v4.3.0/xmeter.css")
      //- TODO remove on xmeter v5
      link(rel="stylesheet" href="/node_modules/xmeter/xmeter.css")
      link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/bangs/v0.8.0/bangs.min.css")
      link(rel="stylesheet" href="/styles/conf.css")
      if site.name
        //- if this site is an instance of the 'all' template
        link(rel="stylesheet" href="styles/site.css")
      style.
        .minimal-text {
          border: 8px solid rgba(219, 255, 64, 0.64);
        }
        .minimal-text::before {
          content: 'minimal text block (no headings inside)';
          display: block;
          margin-bottom: 1.5rem;
          font-weight: 900;
          text-transform: uppercase;
          color: red;
        }
        .rich-text {
          border: 8px solid rgba(255, 219, 64, 0.64);
        }
        .rich-text::before {
          content: 'rich text block <div> with optional subheadings';
          display: block;
          margin-bottom: 1.5rem;
          font-weight: 900;
          text-transform: uppercase;
          color: red;
        }
  body
    header.o-Runner.c-Mast: div.o-ContentWrapper: div.o-Flex.-xai-c
      div.o-Flex__Item(style="max-width:50%;")
        include /includes/components/_c-SiteTitle.jade
        +siteTitle(site, 'index.html')
      div.o-Flex__Item(style="max-width:50%;")
        label.c-Toggle
          input.c-Toggle__Check(type="checkbox" value="open top menu")
          span.-d-n toggle top menu
          svg.c-Toggle__Viz(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36")
            path(d="M0,0 H24 V24 H0 z" fill="transparent")
            g(transform="translate(3,11)")
              each val in new Array(3)
                rect.c-Toggle__Viz__Bar(width="18" height="2")
          noscript: p Oops! Looks like you need to enable Javascript for the top menu.
        nav.o-Drawer
          h1.-d-n#top-menu Top Menu
          include /includes/components/_c-MenuUniversal.jade
          +menuUniversal(site.pages.top.slice(1), site.pages.main.slice(0,1), site.getCurrentConference().name)
    if pagetype === 'main'
      header.o-Runner.c-Mast.c-Mast--internal: nav.o-ContentWrapper
        h1.-d-n#main-menu Main Menu
        include /includes/components/_c-MenuStandard.jade
        +menuStandard(site.pages.main)
    main
      block main
        article&attributes((pagetype === 'main') ? {itemscope:'', itemtype:'http://schema.org/Event'} : {})
          block mainHeader
            header.o-Runner.o-Runner--pageHeader: div.o-ContentWrapper
              h1.c-PageTitle= page.name
          block mainBody
            block mainMinimal
            block mainReference
            block mainRich
          block callouts
          block sponsors
            +highlight()
              h1#sponsors Sponsors
              include /includes/components/_c-SponsorCarousel.jade
              +sponsorCarousel(site.getSupportersAll())
              +highlightButtons([{text:'All Sponsors', href:'sponsor.html'}])
    footer.o-Runner.c-Mast(class=(pagetype==='main') ? 'c-Mast--internal' : ''): nav.o-ContentWrapper
      h1.-d-n#site-map Site Map
      include /includes/components/_c-Sitemap.jade
      +sitemap(site.pages[pagetype])
    footer.o-Runner.c-Mast.c-Mast--copyright: nav.o-ContentWrapper
      h1.-d-n#connect-with-asce Connect With #[abbr(title="American Society of Civil Engineers") ASCE]
      address(itemscope="" itemtype="http://schema.org/NGO")
        p
          span.h-Block(itemprop="name") American Society of Civil Engineers
          span.h-Block(itemprop="location" itemscope itemtype="https://schema.org/PostalAddress")
            span.h-Block(itemprop="streetAddress") 1801 Alexander Bell Drive
            span.h-Block
              span(itemprop="addressLocality") Reston,#{' '}
              span(itemprop="addressRegion") VA#{' '}
              span(itemprop="postalCode") 22901-4382
          span.h-Block(itemprop="contactPoint" itemscope="" itemtype="http://schema.org/ContactPoint")
            a(href="tel:+1-800-548-2723") (800) 548-2723
            meta(content="+1-800-548-2723" itemprop="telephone")
            meta(content="customer support" itemprop="contactType")
          span.h-Block(itemprop="contactPoint" itemscope="" itemtype="http://schema.org/ContactPoint")
            a(href="tel:+1-703-295-6300") +1 (703) 295-6300
            meta(content="+1-703-295-6300" itemprop="telephone")
            meta(content="United States of America" itemprop="areaServed")
            meta(content="customer support" itemprop="contactType")
        ul.o-List.o-GridFlex.c-SocialList
          li.o-List__Item.o-GridFlex__Item.c-SocialList__Item
            a.c-SocialList__Link.c-SocialList__Link--twitter.h-Block(href="//twitter.com/ASCE" itemprop="sameAs" title="Follow ASCE on Twitter")
          li.o-List__Item.o-GridFlex__Item.c-SocialList__Item
            a.c-SocialList__Link.c-SocialList__Link--google.h-Block(href="//plus.google.com/ASCE" itemprop="sameAs" title="Follow ASCE on Google+")
          li.o-List__Item.o-GridFlex__Item.c-SocialList__Item
            a.c-SocialList__Link.c-SocialList__Link--facebook.h-Block(href="//facebook.com/ASCE" itemprop="sameAs" title="Follow ASCE on Facebook")
          li.o-List__Item.o-GridFlex__Item.c-SocialList__Item
            a.c-SocialList__Link.c-SocialList__Link--linkedin.h-Block(href="//linkedin.com/ASCE" itemprop="sameAs" title="Follow ASCE on LinkedIn")
          li.o-List__Item.o-GridFlex__Item.c-SocialList__Item
            a.c-SocialList__Link.c-SocialList__Link--youtube.h-Block(href="//youtube.com/ASCE" itemprop="sameAs" title="Follow ASCE on YouTube")
        //- p: img(src="ASCE-logo.png" itemprop="image")
        p: a(href="http://www.asce.org" itemprop="url").
          &copy; #[time 1996]&ndash;#[time 2016] American Society of Civil Engineers
    block scripts
      script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
      script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
      script(src="/scripts/c-SponsorCarousel.js")
      script(src="/scripts/c-Program.js")
      script.
        $('.c-Toggle__Check').change(function () {
          if ($(this).prop('checked')) {
            $(this).parents('.c-Toggle').siblings('.o-Drawer').addClass('o-Drawer--open')
          } else {
            $(this).parents('.c-Toggle').siblings('.o-Drawer').removeClass('o-Drawer--open')
          }
        })
      //- script.
        $('.c-Speaker__Body').addClass('-h-z')
        $('.c-Speaker__Img').height(function () { return $(this).width() })
          .click(function () { $(this).siblings('.c-Speaker__Body').removeClass('-h-z') })
        $(window).resize(function () {
          $('.c-Speaker__Img').height(function () { return $(this).width() })
        })
