mixin otheryear-content(event0)
  - event0 = event0 || {}
  h1.c-OtherYear__Name(id=urlify(event0.name) itemprop="name")= event0.name
  meta(content=event0.startDate itemprop="startDate")
  p.c-OtherYear__Detail(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
    span(itemprop="name")
      span(itemprop="addressLocality")= event0.addressLocality + ', '
        if event0.addressRegion.name && event0.addressRegion.abbr
          abbr(itemprop="addressRegion" title=event0.addressRegion.name)= event0.addressRegion.abbr
        else
          span(itemprop="addressRegion")= event0.addressRegion

mixin registration-content()
  h1#registration Registration
  ul.o-ListBare.o-GridFlex.o-ListStacked
    li.o-GridFlex__Item.o-ListStacked__Item
      include _c-Pass.jade
      +pass(pass.student, 0)
        +content_pass_student_fineprint()
    li.o-GridFlex__Item.o-ListStacked__Item
      include _c-Pass.jade
      +pass(pass.standard, 0)
    li.o-GridFlex__Item.o-ListStacked__Item
      include _c-Pass.jade
      +pass(pass.ym, 0)
  +actionchoices([{text:'Registration Details', href:'registration.html'}], 'c-Btn c-Btn--hilite')

mixin program-content()
  h1#program-highlights Program Highlights
  include _c-Program.jade
  +program(false)
  +actionchoices([{text:'Full Program', href:'program.html'}], 'c-Btn c-Btn--hilite')

mixin speakers-content()
  h1#speakers Speakers
  ul.o-ListBare.o-GridFlex.o-ListStacked
    li.o-GridFlex__Item.o-ListStacked__Item
      include _c-Speaker.jade
    li.o-GridFlex__Item.o-ListStacked__Item
      include _c-Speaker.jade
    li.o-GridFlex__Item.o-ListStacked__Item
      include _c-Speaker.jade
  +actionchoices([{text:'All Speakers', href:'speakers.html'}], 'c-Btn c-Btn--hilite')

mixin cochairs-content()
  h1#conference-co-chairs Conference Co-Chairs
  ul.o-ListBare
    li #[b Thomas J. McCollough], P.E., M.ASCE
    li #[b Stephen E. Dickenson], Ph.D., P.E., D.PE, M.ASCE

mixin mobile-content()
  h1#plan-engage-connect Plan, Engage, Connect
  p.-ta-c Enhance your conference experience with our mobile app.
  +actionchoices([{text:'Download Mobile App', href:''}], 'c-Btn c-Btn--hilite')

mixin location-content()
  - var city  = conference.current.addressLocality
  - var state = conference.current.addressRegion.abbr || conference.current.addressRegion.name || conference.current.addressRegion
  - var heading = city + ', ' + state
  div.c-Overlay.c-Overlay--callout
    h1(id=urlify(heading))= heading
    p: +location_callout_description()
    +actionchoices([{text:'Hotel & Travel', href:'location.html'}], 'c-Btn c-Btn--hilite c-Btn--ghost')

mixin social-content()
  h1#join-the-conversation Join the Conversation
  p.-ta-c Follow ASCE on social media for real-time conversation.
  // p: mark.
    #[strong Note:]
    Each social icon will be a white logo inside a transparent circle, all in
    a white "circle-in-square" thing.
    #[code background-color] will be dark gray, and secondary color on hover.
    (Use conference color scheme.)
  // p: mark.
    #[strong Question:] size of logos? how far spaced apart?
  ul.o-ListBare.o-GridFlex.c-SocialList
    li.o-GridFlex__Item.c-SocialList__Item
      a.o-Block.c-SocialList__Link.c-SocialList__Link--twitter(href="" title="Follow #ASCE2016 on Twitter")
    li.o-GridFlex__Item.c-SocialList__Item
      a.o-Block.c-SocialList__Link.c-SocialList__Link--google(href="" title="Follow #ASCE2016 on Google+")
    li.o-GridFlex__Item.c-SocialList__Item
      a.o-Block.c-SocialList__Link.c-SocialList__Link--facebook(href="" title="Follow #ASCE2016 on Facebook")

mixin contact-content()
  h1#contact-us Contact Us
  +contact-form()

mixin sponsor-content()
  div.c-SponsorBlock: ul.o-ListBare.o-GridFlex.o-ListStacked
    each item in [getSponsor('ASCE Foundation'), getSponsor('Bentley'), getSponsor('Pennoni')]
      li.o-GridFlex__Item.o-ListStacked__Item
        a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--lrg(href=item.href style='background-image: url(\'' + item.src + '\');')= item.name
        small.c-SponsorBlock__Label= sponsorlevel[item.level].name
  +actionchoices([{text:'All Sponsors', href:'sponsor.html'}], 'c-Btn c-Btn--hilite')
