mixin hero-content(event0)
  - event0 = event0 || {}
  h1.c-PageTitle.c-Hero__Name(itemprop="name")= event0.name
  p.c-Hero__Detail
    span.c-Hero__Place(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
      span(itemprop="name")
        span(itemprop="addressLocality")= event0.addressLocality + ', '
        if event0.addressRegion.name && event0.addressRegion.abbr
          abbr(itemprop="addressRegion" title=event0.addressRegion.name)= event0.addressRegion.abbr
        else
          span(itemprop="addressRegion")= event0.addressRegion
    span.c-Hero__Dates
      time(datetime=event0.startDate itemprop="startDate")
        - var start = new Date(event0.startDate)
        = month_names[start.getUTCMonth()].slice(0,3) + ' ' + start.getUTCDate()
      | &ndash;
      time(datetime=event0.endDate itemprop="endDate")
        - var end = new Date(event0.endDate)
        = month_names[end.getUTCMonth()].slice(0,3) + ' ' + end.getUTCDate()
  p.c-Hero__Theme(itemprop="description")
    if event0.theme
      = event0.theme
    else
      | &nbsp;

mixin otheryear-content(event0)
  - event0 = event0 || {}
  h1.c-OtherYear__Name(itemprop="name")= event0.name
  meta(content=event0.startDate itemprop="startDate")
  p.c-OtherYear__Detail(itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress")
    span(itemprop="name")
      span(itemprop="addressLocality")= event0.addressLocality + ', '
        if event0.addressRegion.name && event0.addressRegion.abbr
          abbr(itemprop="addressRegion" title=event0.addressRegion.name)= event0.addressRegion.abbr
        else
          span(itemprop="addressRegion")= event0.addressRegion

mixin important-date-content()
  h1 Important Dates
  dl.c-DateBlock
    mixin row(event0)
      dt.c-DateBlock__Date
        time(datetime=event0.date.toISOString().slice(0,10))
          = month_names[event0.date.getUTCMonth()].slice(0,3) + ' ' + event0.date.getUTCDate() + ', ' + event0.date.getFullYear()
      dd.c-DateBlock__Desc
        if event0.href || event0.href === ''
          a.o-Block.c-DateBlock__Link(href=event0.href)
            = event0.name
            i.material-icons arrow_forward
        else
          = event0.name
    +row({date:new Date('2015-10-12'), name:'Optional Final Papers Due'})
    +row({date:new Date('2015-12-17'), name:'Early-Bird Registration Closes', href:'registration.html'})
    +row({date:new Date('2016-01-12'), name:'Advance Registration Closes', href:'registration.html'})
    +row({date:new Date('2016-06-12'), name:'Convention Begins'})

mixin registration-content()
  h1 Registration
  ul.o-ListBare.o-GridFlex.o-ListStacked
    - var thisperiod = 'advance'
    li.o-GridFlex__Item.o-ListStacked__Item: +pass(pass.student , thisperiod)
    li.o-GridFlex__Item.o-ListStacked__Item: +pass(pass.standard, thisperiod)
    li.o-GridFlex__Item.o-ListStacked__Item: +pass(pass.ym      , thisperiod)
  +actionchoices([{text:'Registration Details', href:'registration.html'}], 'c-Btn c-Btn--hilite')

mixin program-content()
  h1 Program Highlights
  section.o-GridFlex.c-Overlay.c-Program
    each events, index in program_events
      +programAgenda(events, index, false)
  +actionchoices([{text:'Full Program', href:'program.html'}], 'c-Btn c-Btn--hilite')

mixin speakers-content()
  h1 Speakers
  ul.o-ListBare.o-GridFlex.o-ListStacked
    li.o-GridFlex__Item.o-ListStacked__Item: +speaker()
    li.o-GridFlex__Item.o-ListStacked__Item: +speaker()
    li.o-GridFlex__Item.o-ListStacked__Item: +speaker()
  +actionchoices([{text:'All Speakers', href:'speakers.html'}], 'c-Btn c-Btn--hilite')

mixin cochairs-content()
  h1 Conference Co-Chairs
  ul.o-ListBare
    li #[b Thomas J. McCollough], P.E., M.ASCE
    li #[b Stephen E. Dickenson], Ph.D., P.E., D.PE, M.ASCE

mixin mobile-content()
  h1 Plan, Engage, Connect
  p.-ta-c Enhance your conference experience with our mobile app.
  +actionchoices([{text:'Download Mobile App', href:''}], 'c-Btn c-Btn--hilite')

mixin location-content(heading)
  //- heading is moved into inner div
  div.c-Overlay.c-Overlay--callout
    h1= heading
    p With sweeping views of the surrounding mountains and a bustling downtown full of shopping, locally sourced dining, and entertainment, Portland is a wonderful destination for business and leisure.
    +actionchoices([{text:'Hotel & Travel', href:'location.html'}], 'c-Btn c-Btn--hilite c-Btn--ghost')

mixin social-content()
  h1 Join the Conversation
  p.-ta-c Follow ASCE on social media for real-time conversation.
  // p: mark.
    #[strong Note:]
    Each social icon will be a white logo inside a transparent circle, all in
    a white "circle-in-square" thing.
    #[code background-color] will be dark gray, and secondary color on hover.
    (Use conference color scheme.)
  // p: mark.
    #[strong Question:] size of logos? how far spaced apart?
  ul.o-ListBare.o-GridFlex.c-SocialList
    li.o-GridFlex__Item.c-SocialList__Item
      a.o-Block.c-SocialList__Link.c-SocialList__Link--twitter(href="" title="Follow #ASCE2016 on Twitter")
    li.o-GridFlex__Item.c-SocialList__Item
      a.o-Block.c-SocialList__Link.c-SocialList__Link--google(href="" title="Follow #ASCE2016 on Google+")
    li.o-GridFlex__Item.c-SocialList__Item
      a.o-Block.c-SocialList__Link.c-SocialList__Link--facebook(href="" title="Follow #ASCE2016 on Facebook")

mixin contact-content()
  form
    label
      | name
      input(type="text")
    label
      | email
      input(type="email")
    label
      | message
      textarea
    button submit

mixin sponsor-content()
  +sponsor-carousel([sponsor.asce_foundation, sponsor.bentley, sponsor.pennoni])
  +actionchoices([{text:'All Sponsors', href:'sponsor.html'}], 'c-Btn c-Btn--hilite')
