
//- ///////////////////////////////////////////////////////////////////////////////
//- //
//- // This file holds all functions & mixins for all microsites including the sample site.
//- //
//- ///////////////////////////////////////////////////////////////////////////////


-
  function urlify(str) {
    return encodeURIComponent(str.toLowerCase().replace(/[\W]+/g, '-'))
  }
  function getSponsor(name) {
    return arrayFind(sponsors, 'name', name)
  }
  function getPage(type, url) {
    return arrayFind(site_pages[type], 'href', url)
  }


mixin menulist(args)
  //- copied (almost) directly from ../../lib/includes/_mixins-lib.jade
  - var pages     = args.pages     || []
  - var class_obj = args.class_obj || {}
  - var depth     = +args.depth
  ul(class=class_obj.listclasses)
    each item in pages
      unless item.is_hidden
        li(class=class_obj.itemclasses)
          a(class=class_obj.linkclasses href=item.href)
            if args.icons && item.icon
              i.material-icons= item.icon.content
            span= item.name
          if item.sub && depth > 0
            +menulist({pages: item.sub, class_obj: (class_obj.sub || {}), depth: depth-1})

mixin content_pass_student_fineprint()
  | Full-time students must show valid #[abbr(title="identification") ID] onsite at the registration desk when picking up name badge.

mixin location_callout_description()
  | With sweeping views of the surrounding mountains and a bustling downtown full of shopping, locally sourced dining, and entertainment, Portland is a wonderful destination for business and leisure.

mixin programAgenda(events, index, show_all)
  h1.o-GridFlex__Item.c-Program__Hn: label
    input.c-Program__Check(type="radio" name="program" value=events[0].startDate)&attributes((index===0) ? {checked:''} : {})
    time(datetime=events[0].startDate)
      - var date = new Date(events[0].startDate)
      span= day_names[date.getUTCDay()] + ', '
      span= month_names[date.getUTCMonth()].slice(0,3) + ' ' + date.getUTCDate()
  dl.o-GridFlex__Item.c-Program__Schedule.o-GridFlex.c-TimeBlock
    each event0 in events
      if show_all || event0.is_starred
        dt.o-GridFlex__Item.c-TimeBlock__Times
          time(datetime=event0.startDate)= hourTime12(new Date(event0.startDate))
          | &ndash;
          time(datetime=event0.endDate)= hourTime12(new Date(event0.endDate))
        dd.o-GridFlex__Item.c-TimeBlock__Desc
          if event0.href || event0.href === ''
            a.o-Block.c-TimeBlock__Link(href=event0.href)
              = event0.name
              i.material-icons arrow_forward
          else
            = event0.name

mixin programs(all_events, show_all)
  section.o-GridFlex.c-Overlay.c-Program
    each events, index in all_events
      +programAgenda(events, index, show_all)

mixin contact-form()
  form
    label
      | name
      input(type="text")
    label
      | email
      input(type="email")
    label
      | message
      textarea
    button submit

mixin minimal-text-block()
  div.o-Runner.o-Runner--highlight.minimal-text: div.o-ContentWrapper
    p.
      Join civil engineering professionals from around the world at
      this ASCE flagship event. Network with peers, earn PDHs, and
      expand your knowledge base.
    p #[a(href="") Lorem ipsum dolor sit amet], consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    ul
      li 3&frac12; days of premier educational and networking events
      li 15 tracks and 6 plenary sessions focusing on ...
      li Prestigious awards and keynote lecture presentations
      li Lively programs for studdnts and young professionals

mixin rich-text-block()
  div.o-Runner.o-Runner--highlight.rich-text: div.o-ContentWrapper
    h2 a heading
    p #[a(href="") Lorem ipsum dolor sit amet], consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    h3 another heading
    blockquote #[a(href="") Aenean euismod bibendum laoreet]. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci.
    ul
      li 3&frac12; days of premier educational and networking events
      li 15 tracks and 6 plenary sessions focusing on ...
      li Prestigious awards and keynote lecture presentations
      li Lively programs for studdnts and young professionals
    h2 a heading
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    h3 another heading
    blockquote Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci.
