
//- ///////////////////////////////////////////////////////////////////////////////
//- //
//- // This file holds all functions & mixins for the sample site.
//- //
//- ///////////////////////////////////////////////////////////////////////////////


//- -
  // returns a description of a given page.
  function description(page) {
    var page_index = -1
      , page_desc = []
    if (site_pages.universal.indexOf(page) >= 0) {
      index_of_page_id = site_pages.universal.indexOf(page)
      page_desc = [
        site.tagline
      , 'About ' + site.title + '.'
      , 'Sponsors of ' + site.title + '.'
      , 'Exhibitors at ' + site.title + '.'
      , 'Contact us for questions and comments about ' + site.title + '.'
      ]
    } else if (site_pages.internal.indexOf(page) >= 0) {
      page_index = site_pages.internal.indexOf(page)
      page_desc = [
        conference.current.theme
      , 'Register for ' + conference.current.name + ' here.'
      , 'Program and Agenda of ' + conference.current.name + '.'
      , 'Location and where to stay for ' + conference.current.name + '.'
      , 'Current and prospective speakers at ' + conference.current.name + '.'
      ]
    }
    return page_desc[page_index]
  }
-  function description(page) {    var page_index = -1      , page_desc = [];    if (site_pages.universal.indexOf(page) >= 0) {      index_of_page_id = site_pages.universal.indexOf(page);      page_desc = [        site.tagline      , 'About ' + site.title + '.'      , 'Sponsors of ' + site.title + '.'      , 'Exhibitors at ' + site.title + '.'      , 'Contact us for questions and comments about ' + site.title + '.'      ]    } else if (site_pages.internal.indexOf(page) >= 0) {      page_index = site_pages.internal.indexOf(page);      page_desc = [        conference.current.theme      , 'Register for ' + conference.current.name + ' here.'      , 'Program and Agenda of ' + conference.current.name + '.'      , 'Location and where to stay for ' + conference.current.name + '.'      , 'Current and prospective speakers at ' + conference.current.name + '.'      ]    }    return page_desc[page_index]  }
- function urlify(str) { return encodeURIComponent(str.toLowerCase().replace(/[\W]+/g, '-')) }
- function getSponsor(name) { return arrayFind(sponsors, 'name', name) }
- function getPage(type, url) { return arrayFind(site_pages[type], 'href', url) }


mixin menulist(args)
  //- copied (almost) directly from ../../lib/includes/_mixins-lib.jade
  - var pages     = args.pages     || []
  - var class_obj = args.class_obj || {}
  - var depth     = +args.depth
  ul(class=class_obj.listclasses)
    each item in pages
      unless item.is_hidden
        li(class=class_obj.itemclasses)
          a(class=class_obj.linkclasses href=item.href)
            if args.icons && item.icon
              i.material-icons= item.icon.content
            span= item.name
          if item.sub && depth > 0
            +menulist({pages: item.sub, class_obj: (class_obj.sub || {}), depth: depth-1})

mixin actionchoices(items, classes, list_attr)
  - list_attr = list_attr || {}
  ul.o-ListBare.o-GridFlex.o-ListAction&attributes(list_attr)
    each obj in items
      - obj.attr = obj.attr || {}
      li.o-GridFlex__Item.o-ListAction__Item
        a(class=classes href=obj.href)&attributes(obj.attr)
          = obj.text
          block

mixin pass(type, body_period)
  article.c-Pass
    mixin period-details(regperiod, is_body)
      h1.c-Pass__Period__Hn= regperiod.name
      dl
        each item in regperiod.memberships
          dt.c-Pass__Period__Attendee= item.name
          dd.c-Pass__Period__Price(class=(is_body && item.is_featured)?'c-Pass__Price--featured':'')
            = item.price.toLocaleString('en', {style:'currency', currency:'USD'})
    header.c-Pass__Head
      h1.c-Pass__Hn= type.name
      p.c-Pass__Desc
        = type.description
        if type.fineprint
          br
          small.c-Pass__Fine= type.fineprint
    div.c-Pass__Body
      section.c-Pass__Period
        if type.periods[body_period]
          +period-details(type.periods[body_period], true)
    footer.o-GridFlex.c-Pass__Foot
      each item in type.periods
        unless item === type.periods[body_period]
          section.o-GridFlex__Item.-w-1o2.c-Pass__Period
            +period-details(item)

mixin programAgenda(events, index, show_all)
  h1.o-GridFlex__Item.c-Program__Hn: label
    input.c-Program__Check(type="radio" name="program" value=events[0].startDate)&attributes((index===0) ? {checked:''} : {})
    time(datetime=events[0].startDate)
      - var date = new Date(events[0].startDate)
      = day_names[date.getUTCDay()] + ','
      br
      = month_names[date.getUTCMonth()].slice(0,3) + ' ' + date.getUTCDate()
  dl.o-GridFlex__Item.o-GridFlex.c-Program__Schedule.c-TimeBlock
    each event0 in events
      if show_all || event0.is_starred
        dt.o-GridFlex__Item.c-TimeBlock__Times
          time(datetime=event0.startDate)= hourTime12(new Date(event0.startDate))
          | &ndash;
          time(datetime=event0.endDate)= hourTime12(new Date(event0.endDate))
        dd.o-GridFlex__Item.c-TimeBlock__Desc
          if event0.href || event0.href === ''
            a.o-Block.c-TimeBlock__Link(href=event0.href)
              = event0.name
              i.material-icons arrow_forward
          else
            = event0.name

mixin programs(all_events, show_all)
  section.o-GridFlex.c-Overlay.c-Program
    each events, index in all_events
      +programAgenda(events, index, show_all)

mixin speaker()
  article.c-Speaker
    div.c-Speaker__Img(style="background-image:url('img/headshot1.jpg');")
      header.c-Speaker__Head
        h1.c-Speaker__Name Donna Fulman, P.ASCE
        p.c-Speaker__JobTitle Interior Engineering Administration
    div.c-Speaker__Body
      div.c-Speaker__Bio.minimal-text
        p Tobias van Schneider is an award-winning, German designer raised in Austria and currently living in New York City.
        p Former Lead Product Designer and Art Director at Spotify, he recently founded Semplice and at the same time serves on the AIGA Board of Directors in New York.
      footer: ul.o-ListBare
        li.o-Inline: a.c-Speaker__Link(href="") Email
        li.o-Inline: a.c-Speaker__Link(href="") LinkedIn
        li.o-Inline: a.c-Speaker__Link(href="") Twitter

mixin contact-form()
  form
    label
      | name
      input(type="text")
    label
      | email
      input(type="email")
    label
      | message
      textarea
    button submit

mixin sponsor-carousel(spons)
  div.c-SponsorBlock: ul.o-ListBare.o-GridFlex.o-ListStacked
    each item in spons
      li.o-GridFlex__Item.o-ListStacked__Item
        a.o-Block.c-SponsorBlock__Logo.c-SponsorBlock__Logo--lrg(href=item.href style='background-image: url(\'' + item.src + '\');')= item.name
        small.c-SponsorBlock__Label= sponsorlevel[item.level].name

mixin sponsor-block(sponsor_level, classes)
  section.c-SponsorBlock(class=classes)
    h1.c-SponsorBlock__Hn= sponsor_level.name
    ul.o-ListBare.o-GridFlex.o-ListStacked
      each item in sponsors.filter(function (item) { return sponsorlevel[item.level] === sponsor_level })
        li.o-GridFlex__Item.o-ListStacked__Item
          unless (sponsor_level === sponsorlevel.bronze) || (sponsor_level === sponsorlevel.copper)
            a.o-Block.c-SponsorBlock__Logo(class='c-SponsorBlock__Logo--'+sponsor_level.size href=item.href style='background-image: url(\'' + item.src + '\');')= item.name
          else
            a.o-Block.c-SponsorBlock__Text(href=item.href)= item.name

mixin minimal-text-block()
  div.o-Runner.o-Runner--highlight.minimal-text: div.o-ContentWrapper
    p.
      Join civil engineering professionals from around the world at
      this ASCE flagship event. Network with peers, earn PDHs, and
      expand your knowledge base.
    p #[a(href="") Lorem ipsum dolor sit amet], consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    ul
      li 3&frac12; days of premier educational and networking events
      li 15 tracks and 6 plenary sessions focusing on ...
      li Prestigious awards and keynote lecture presentations
      li Lively programs for studdnts and young professionals

mixin rich-text-block()
  div.o-Runner.o-Runner--highlight.rich-text: div.o-ContentWrapper
    h2 a heading
    p #[a(href="") Lorem ipsum dolor sit amet], consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    h3 another heading
    blockquote #[a(href="") Aenean euismod bibendum laoreet]. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci.
    ul
      li 3&frac12; days of premier educational and networking events
      li 15 tracks and 6 plenary sessions focusing on ...
      li Prestigious awards and keynote lecture presentations
      li Lively programs for studdnts and young professionals
    h2 a heading
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    h3 another heading
    blockquote Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci.
