
//- ///////////////////////////////////////////////////////////////////////////////
//- //
//- // This file holds 'global' data for all files in this project,
//- // including the pattern library and the sample sites.
//- //
//- ///////////////////////////////////////////////////////////////////////////////



include /_classes/Page.class.jade
include /_classes/Util.class.jade
include /_classes/ConfSite.class.jade
include /_classes/ConfPage.class.jade
include /_classes/Conference.class.jade
include /_classes/SupporterLevel.class.jade
include /_classes/Supporter.class.jade
include /_classes/Person.class.jade
include /_classes/RegistrationPeriod.class.jade
include /_classes/Pass.class.jade
include /_classes/ProgramEvent.class.jade
include /_classes/ImportantDate.class.jade

mixin linkWithIcon(link, icon)
  //- NOTE parameter validation
  -
    link = link || {}
    icon = icon || {}
  a(class=link.classes href=link.url title=(link.title || null))&attributes(link.attr || {})
    if icon.is_on
      i.material-icons= icon.text
    span= link.text

mixin sitetoc(args)
  //- NOTE parameter validation
  -
    var pages   = args.pages   || []
    var classes = args.classes || {}
    var depth   = +args.depth  || 0
    var icons   = !!args.icons
  ul(class=classes.listclasses)
    each item in pages
      unless item.isHidden()
        li(class=classes.itemclasses)
          +linkWithIcon({
            classes : classes.linkclasses
          , url     : item.getURL()
          , text    : item.getName()
          , title   : item.getName()
          }, {
            is_on : args.icons && item.getIcon()
          , text  : item.getIcon()
          })
          if item.getPagesAll().length && depth > 0
            +sitetoc({pages: item.getPagesAll(), classes: (classes.sub || {}), depth: depth-1})

mixin event-location-name(loc)
  span(itemprop="name")
    span(itemprop="addressLocality")= loc.addressLocality + ', '
    abbr(title=loc.addressRegion_title itemprop="addressRegion")
      = loc.addressRegion

mixin highlightButtons(links, more_classes)
  ul.o-List.o-ListAction
    each item in links
      li.o-List__Item.o-ListAction__Item
        a.c-Btn.c-Btn--hilite(class=' '+(more_classes || '') href=item.href)&attributes(item.attr || {})
          = item.text

mixin highlight(classes)
  aside.o-Runner.o-Runner--highlight(class=classes)
    div.o-Constrain
      block

mixin passList(passes, current_conference)
  ul.o-List.o-ListStacked
    include /includes/components/_c-Pass.jade
    each pass0 in passes
      li.o-List__Item.o-ListStacked__Item
        +pass(pass0, current_conference)

mixin speakerList(speakers)
  ul.o-List.o-ListStacked
    include /includes/components/_c-Speaker.jade
    each person in speakers
      li.o-List__Item.o-ListStacked__Item
        +speaker(person)

mixin chairList(chairs)
  ul
    each person in chairs
      li(itemprop="organizer" itemscope="" itemtype="http://schema.org/Person")
        +personEntireName(person)

mixin personEntireName(person)
  if person.name.honorificPrefix
    span(itemprop="honorificPrefix")= person.name.honorificPrefix
    = ' '
  span(itemprop="name")
    span(itemprop="givenName")= person.name.givenName
    = ' '
    if person.name.additionalName
      span(itemprop="additionalName")= person.name.additionalName
      = ' '
    span(itemprop="familyName")= person.name.familyName
  if person.name.honorificSuffix
    = ', '
    span(itemprop="honorificSuffix")= person.name.honorificSuffix
