extends _docs.tpl.jade

block append vars
  - var page = ConfDocs.DOCS.find('principles.html')

block append main
  +newSection(2, ConfDocs.DOCS.find('principles.html#fonts'))
    h3 Font Sizes
    p.
      Please use only the font sizes listed below.
      Sticking with a pre-determined set of font sizes will ensure a consistent look-and-feel,
      while at the same time providing a sense of even vertical rhythm.
    figure.docs-figure
      table(style="margin-top:calc(2 * var(--vru));").-fz-i
        colgroup
          each n in new Array(8)
            col.-w-1o8
        tbody.-va-b
          -
            var sizes = [
              { word: 'peta', rem: 6    }
            , { word: 'tera', rem: 4    }
            , { word: 'giga', rem: 3    }
            , { word: 'mega', rem: 2    }
            , { word: 'kilo', rem: 1.5  }
            , { word: 'norm', rem: 1    }
            , { word: 'mill', rem: 0.75 }
            , { word: 'micr', rem: 0.5  }
            ]
          tr(title="sample")
            each $item in sizes
              td: span(class='-fz-'+$item.word) Abq
          tr(title="keyword")
            each $item in sizes
              td= $item.word
          tr(title="rems")
            each $item in sizes
              td #{$item.rem}rem
          tr(title="pixels")
            each $item in sizes
              td #{$item.rem*16}px
          tr(title="points")
            each $item in sizes
              td #{$item.rem*12}pt
    h3 Font Families
    mixin letterforms()
      p.-fz-el-tera Rage Ghost Kip
    h4 Body Copy
    p.
      Body copy use the #[b Open Sans] typeface, designed by Steve Matteson.
      There are 10 fonts available: 5 weights, with 2 styles each.
    blockquote.
      #[b Open Sans] is a humanist sans-serif typeface used for the body text on the site.
      It has a vertical upright stress, large x-height, and wide apertures.
      Open Sans has a #[q neutral, yet friendly appearance.]
      Though sans-serif, it borrows some elements from serif typefaces.
      For example, it has a true italic and options for the use of a
      double-storey #[i a] and #[i g].
    figure.docs-figure(style="font-family:'Open Sans',sans-serif;")
      +letterforms()
      p.
        The five boxing wizards jump quickly.#[br]
        #[span.-fs-t Oh, sphinx of black quartz, judge my vow.]
      ul.o-List.o-Grid.-fz-el-mega
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-300       Open Sans 300
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-300.-fs-t Open Sans 300 italic
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-400       Open Sans 400
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-400.-fs-t Open Sans 400 italic
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-600       Open Sans 600
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-600.-fs-t Open Sans 600 italic
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-700       Open Sans 700
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-700.-fs-t Open Sans 700 italic
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-800       Open Sans 800
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-800.-fs-t Open Sans 800 italic
    h4 Headings
    p.
      Headings use the #[b Bitter] typeface, designed at Huerta Tipogr&aacute;fica.
      Only four fonts are available: normal and bold weights, with normal and italic style.
      The italic style is a #[i true italic].
    blockquote.
      #[i= '[description pending]']
    figure.docs-figure(style="font-family:'Bitter',serif;")
      +letterforms()
      p.
        Sixty zippers were quickly picked from the woven jute bag.#[br]
        #[span.-fs-t Heavy boxes perform quick waltzes and jigs.]
      ul.o-List.o-Grid.-fz-el-mega
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-400       Bitter 400
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-400.-fs-t Bitter 400 italic
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-700       Bitter 700
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-700.-fs-t Bitter 700 italic
    h4 Futura (not used)
    blockquote
      p.
        #[b Futura] is a geometric sans-serif typeface not used on the site.
      p.
        Comprised of simple geometric shapes, near-perfect circles, triangles, and squares,
        #[b Futura] has a subtle thick/thin transition of weight, virtually no stress, and has an appearance
        of efficiency and forwardness. It has quite a low x-height and tall ascenders,
        which enhance the readability of large headings on the web.
      p: q.
        The design of Futura avoids the decorative, eliminating nonessential elements,
        but makes subtle departures from pure geometric designs that allow
        the letterforms to seem balanced.
    figure.docs-figure(style="font-family:'Futura',sans-serif;")
      +letterforms()
      p.
        The quick brown fox jumps over the lazy dog.#[br]
        #[span.-fs-t The quick brown fox jumps over the lazy dog.]
      ul.o-List.o-Grid.-fz-el-mega
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-400       Futura 400
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-400.-fs-t Futura 400 italic
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-700       Futura 700
        li.o-List__Item.o-Grid__Item.-x-1o2.-fw-700.-fs-t Futura 700 italic
  +newSection(2, ConfDocs.DOCS.find('principles.html#colors'))
    mixin colorBox(w, attrs, factor)
      -
        attrs = attrs || {}
        var _width  = w
        var _height = _width * (Math.sqrt(5)-1)/2 * (factor || 1)
      svg.docs-c-ColorBox(viewbox=`0 0 ${_width} ${_height}`)&attributes(attrs.svg || {})
        rect(width=_width height=_height)&attributes(attrs.rect || {})
    +newSection(3, ConfDocs.DOCS.find('principles.html#derivation-color-palettes'))
      -
        var primary   = Color.fromString('#0066cc')
        var secondary = Color.fromString('#ff80a0')
      mixin derivBlock($color, name)
        +colorBox(96, {
          rect: { style: { fill: $color.toString('hex') } }
        }, 0.5)
        p
          if name
            b= name
            br
          code= $color.toString('hsl')
      p.
        Each site uses four main colors: #[b Primary], #[b Secondary], #[b Dark Gray], and #[b Light Gray].
        The #[b Primary] and #[b Secondary] are given, and the #[b Dark Gray] and #[b Light Gray]
        are derived from those; see the formula below.
        Each of the four main colors is accompanied by two shades (darker) and two tints (lighter).
        The four main colors should be used for most design components, while the shades and tints may be
        used for smaller or less important components. Specifically, where necessary,
        #[b Dark Gray s2] may be used for black, and #[b Light Gray t2] should be used for white.
      details
        summary This formula generates the gray colors from the given main colors.
        ol
          li
            p Start with two colors: a #[b Primary] and a #[b Secondary].
            -
              var a1 = primary
              var a2 = secondary
            ul.o-List.docs-o-ColorList
              li.o-List__Item.docs-o-ColorList__Item: +derivBlock(a1, 'Primary')
              li.o-List__Item.docs-o-ColorList__Item: +derivBlock(a2, 'Secondary')
          li
            p Mix in 25% of the other color.
            -
              var b1 = a1.mix(a2, 1/4)
              var b2 = a2.mix(a1, 1/4)
            ul.o-List.docs-o-ColorList
              li.o-List__Item.docs-o-ColorList__Item: +derivBlock(b1)
              li.o-List__Item.docs-o-ColorList__Item: +derivBlock(b2)
          li
            p Desaturate each by 87.5%.
            -
              var c1 = b1.desaturate(7/8, true)
              var c2 = b2.desaturate(7/8, true)
            ul.o-List.docs-o-ColorList
              li.o-List__Item.docs-o-ColorList__Item: +derivBlock(c1)
              li.o-List__Item.docs-o-ColorList__Item: +derivBlock(c2)
          li
            p Darken to 0.25 (#[b Dark Gray]) or lighten to 0.75 (#[b Light Gray]).
            -
              var d1 = c1.lighten(1/4 - c1.hslLum(), false)
              var d2 = c2.lighten(3/4 - c2.hslLum(), false)
            ul.o-List.docs-o-ColorList
              li.o-List__Item.docs-o-ColorList__Item: +derivBlock(d1)
              li.o-List__Item.docs-o-ColorList__Item: +derivBlock(d2)
      details
        summary Shades and tints are generated by lightness.
        table.docs-o-ColorList
          tbody
            tr
              td.docs-o-ColorList__Item: +derivBlock(a1.darken(2/3, true), 'Primary s2')
              td.docs-o-ColorList__Item: +derivBlock(a2.darken(2/3, true), 'Secondary s2')
              td.docs-o-ColorList__Item: +derivBlock(c1.lighten( 1/12 - c1.hslLum(), false), 'Dark Gray s2')
              td.docs-o-ColorList__Item: +derivBlock(c2.lighten( 7/12 - c2.hslLum(), false), 'Light Gray s2')
            tr
              td.docs-o-ColorList__Item: +derivBlock(a1.darken(1/3, true), 'Primary s1')
              td.docs-o-ColorList__Item: +derivBlock(a2.darken(1/3, true), 'Secondary s1')
              td.docs-o-ColorList__Item: +derivBlock(c1.lighten( 2/12 - c1.hslLum(), false), 'Dark Gray s1')
              td.docs-o-ColorList__Item: +derivBlock(c2.lighten( 8/12 - c2.hslLum(), false), 'Light Gray s1')
            tr
              th.docs-o-ColorList__Item: +derivBlock(a1, 'Primary')
              th.docs-o-ColorList__Item: +derivBlock(a2, 'Secondary')
              th.docs-o-ColorList__Item: +derivBlock(c1.lighten( 3/12 - c1.hslLum(), false), 'Dark Gray')
              th.docs-o-ColorList__Item: +derivBlock(c2.lighten( 9/12 - c2.hslLum(), false), 'Light Gray')
            tr
              td.docs-o-ColorList__Item: +derivBlock(a1.darken(1/3, true).brighten(1/3, false), 'Primary t1')
              td.docs-o-ColorList__Item: +derivBlock(a2.darken(1/3, true).brighten(1/3, false), 'Secondary t1')
              td.docs-o-ColorList__Item: +derivBlock(c1.lighten( 4/12 - c1.hslLum(), false), 'Dark Gray t2')
              td.docs-o-ColorList__Item: +derivBlock(c2.lighten(10/12 - c2.hslLum(), false), 'Light Gray t1')
            tr
              td.docs-o-ColorList__Item: +derivBlock(a1.darken(2/3, true).brighten(2/3, false), 'Primary t2')
              td.docs-o-ColorList__Item: +derivBlock(a2.darken(2/3, true).brighten(2/3, false), 'Secondary t2')
              td.docs-o-ColorList__Item: +derivBlock(c1.lighten( 5/12 - c1.hslLum(), false), 'Dark Gray t1')
              td.docs-o-ColorList__Item: +derivBlock(c2.lighten(11/12 - c2.hslLum(), false), 'Light Gray t2')
    +newSection(3, ConfDocs.DOCS.find('principles.html#site-colors'))
      h4 Docs
      p (this style guide)
      mixin siteColorList(primary_str, secondary_str, attr_table)
        - var site_colors = ConfSite.colorStyles(Color.fromString(primary_str), Color.fromString(secondary_str))
        mixin cell(item, index)
          mixin fig($pairing)
            figure
              +colorBox(96, {
                svg: { 'data-prop': '--color' + $pairing.suffix }
              , rect: { class: '-f' + $pairing.suffix }
              })
              p
                b= $pairing.name
                br
                code= Color.fromString(site_colors['--color' + $pairing.suffix]).toString('hex')
          if (index - 2) % 5 === 0
            th.o-List__Item.docs-o-ColorList__Item
              +fig(item)
          else
            td.o-List__Item.docs-o-ColorList__Item
              +fig(item)
        table.docs-o-ColorList(style=site_colors)&attributes(attr_table || {})
          thead: tr
            th(title="Shade 2")
            th(title="Shade 1")
            th(title="Main Color")
            th(title="Tint 1")
            th(title="Tint 2")
          tbody
            - for (var i = 0; i < ConfDocs.COLOR_NAMES.length; i += 5)
              tr
                each item,index in ConfDocs.COLOR_NAMES.slice(i, i+5)
                  +cell(item,index)
      include /_includes/colorpickers.jade
      +colorPickers('#660000', '#ff6600')
      +siteColorList('#660000', '#ff6600', {id: 'docs-colors'})
      h4 ASCE 2016
      +siteColorList('#3fae2a', '#00a1e1')
      h4 ASCE 2017
      +siteColorList('#00737b', '#694890')

block append scripts
  script(src="scripts/visual.b.js")
