extends _docs.tpl.jade

block append vars
  - var page = ConfDocs.DOCS.find('visual.html')

block append main
  mixin colorItem(arg)
    li.o-List__Item.docs-o-ColorList__Item
      figure
        //- -
        //-   var _width  = arg.side
        //-   var _height = arg.side * (Math.sqrt(5)-1)/2
        //- svg.docs-c-ColorBox(viewbox=`0 0 ${_width} ${_height}` data-prop=arg.data_prop)
        //-   rect(class=arg.classname width=_width height=_height)
        div.docs-c-ColorBox(class=arg.classname data-prop=arg.data_prop)
        p
          b= arg.name
          br
          code= arg.code
  mixin siteColorList(primary_hex, secondary_hex)
    -
      var site_colors = ConfSite.colorStyles(Color.fromHex(primary_hex), Color.fromHex(secondary_hex))
    ul.o-List.docs-o-ColorList(style=site_colors)
      each $item in ConfDocs.COLOR_NAMES
        +colorItem({
          side: 96
        , classname: '-bc' + $item.suffix
        , data_prop: '--color' + $item.suffix
        , name: $item.name
        , code: Color.fromRGB(site_colors['--color' + $item.suffix]).toString('hex')
        })
  section#asce
    h2 ASCE
    h3 Colors
    -
      var core_colors = [
        { name: 'ASCE Black', color_hex: '#222222', classname: '-f-asce_black' }
      , { name: 'ASCE White', color_hex: '#ffffff', classname: '-f-asce_white' }
      , { name: 'ASCE Blue' , color_hex: '#0c5fa8', classname: '-f-asce_blue'  }
      ]
    ul.o-List.docs-o-ColorList
      each $item in core_colors
        +colorItem({
          side: 96
        , classname: $item.classname
        , name: $item.name
        , code: $item.color_hex
        })
  section#docs
    h2 Docs
    p (this style guide)
    h3 Colors
    p Use the color pickers to experiment with different combinations!
      small  (Javascript must be enabled.)
    ol.o-List.o-Flex
      li.o-Flex__Item Primary   color: #[input.js-picker.js-picker-primary(type="color" style="width:3rem;" value="#660000")]
      li.o-Flex__Item Secondary color: #[input.js-picker.js-picker-secondary(type="color" style="width:3rem;" value="#ff6600")]
    +siteColorList('#660000', '#ff6600')
  section#asce2016
    h2 ASCE 2016
    h3 Colors
    +siteColorList('#3fae2a', '#00a1e1')
  section#asce2017
    h2 ASCE 2017
    h3 Colors
    +siteColorList('#00737b', '#694890')

block append scripts
  script(src="./scripts/color-themes.js")
