extends _docs.tpl.jade

block append vars
  - var page = ConfDocs.DOCS.find('visual.html')

block append main
  -
    var scheme = {
      asce: {
        black : { code: '#222222', bg_class: '-bc-asce_black', name: 'ASCE Black' }
      , white : { code: '#ffffff', bg_class: '-bc-asce_white', name: 'ASCE White' }
      , blue  : { code: '#0c5fa8', bg_class: '-bc-asce_blue' , name: 'ASCE Blue' }
      }
    , asce2016: {
        primary   : { code: '#3fae2a', bg_class: '-bc-site_primary'  , name: 'ASCE 2016 Primary' }
      , secondary : { code: '#00a1e1', bg_class: '-bc-site_secondary', name: 'ASCE 2016 Secondary' }
      , gray_dk   : { code: '#373c36', bg_class: '-bc-site_gray_dk'  , name: 'ASCE 2016 Dark Gray' }
      , gray_lt   : { code: '#9fa5a8', bg_class: '-bc-site_gray_lt'  , name: 'ASCE 2016 Light Gray' }
      }
    , docs: {
        primary   : { code: '#660000', bg_class: '-bc-site_primary'  , name: 'Docs Primary' }
      , secondary : { code: '#ff6600', bg_class: '-bc-site_secondary', name: 'Docs Secondary' }
      , gray_dk   : { code: '#000000', bg_class: '-bc-site_gray_dk'  , name: 'Docs Dark Gray' }
      , gray_lt   : { code: '#bab1ab', bg_class: '-bc-site_gray_lt'  , name: 'Docs Light Gray' }
      }
    , other: {
        primary   : { code: '#3b421b', bg_class: '-bc-site_primary'  , name: 'Other Primary' }
      , secondary : { code: '#a5904f', bg_class: '-bc-site_secondary', name: 'Other Secondary' }
      , gray_dk   : { code: '#000000', bg_class: '-bc-site_gray_dk'  , name: 'Other Dark Gray' }
      , gray_lt   : { code: '#b0aeaa', bg_class: '-bc-site_gray_lt'  , name: 'Other Light Gray' }
      }
    }
  mixin colorsamples(colors)
    ul.o-List.docs-o-ColorList
      each color in colors
        li.o-List__Item.docs-o-ColorList__Item
          figure
            - var side = 96
            svg.docs-c-ColorBox(viewbox=`0 0 ${side} ${side}`)
              rect(width=side height=side fill=color.code)
            p
              b= color.name
              br
              code= color.code
  section#asce
    h2 ASCE
    h3 Colors
    +colorsamples([
      scheme.asce.black
    , scheme.asce.white
    , scheme.asce.blue
    ])
  section#asce2016
    h2 ASCE 2016
    h3 Colors
    +colorsamples([
      scheme.asce2016.primary
    , scheme.asce2016.secondary
    , scheme.asce2016.gray_dk
    , scheme.asce2016.gray_lt
    ])
  section#docs
    h2 Docs (this style guide)
    h3 Colors
    +colorsamples([
      scheme.docs.primary
    , scheme.docs.secondary
    , scheme.docs.gray_dk
    , scheme.docs.gray_lt
    ])
  section#other
    h2 Other
    h3 Colors
    +colorsamples([
      scheme.other.primary
    , scheme.other.secondary
    , scheme.other.gray_dk
    , scheme.other.gray_lt
    ])
