extends _docs.tpl.jade

block append vars
  - var page = ConfDocs.DOCS.find('visual.html')

block append main
  mixin colorItem(arg)
    li.o-List__Item.docs-o-ColorList__Item
      figure
        svg.docs-c-ColorBox(viewbox=`0 0 ${arg.side} ${arg.side}`)
          rect(width=arg.side height=arg.side style=`fill: ${arg.fill}`)
        p
          b= arg.name
          br
          code= arg.code
  mixin siteColorList(primary_hex, secondary_hex)
    -
      var side = 96
      var site_colors = ConfSite.colorStyles(Color.fromHex(primary_hex), Color.fromHex(secondary_hex))
    ul.o-List.docs-o-ColorList(style=site_colors)
      each $item in ConfDocs.COLOR_NAMES
        +colorItem({
          side: side
        , fill: `var(${$item.prop})`
        , name: $item.name
        , code: Color.fromRGB(site_colors[$item.prop]).toString('hex')
        })
  section#asce
    h2 ASCE
    h3 Colors
    -
      var core_colors = [
        { name: 'ASCE Black', color: Color.fromHex('#222222') }
      , { name: 'ASCE White', color: Color.fromHex('#ffffff') }
      , { name: 'ASCE Blue' , color: Color.fromHex('#0c5fa8') }
      ]
    ul.o-List.docs-o-ColorList
      each $item in core_colors
        +colorItem({
          side: 96
        , fill: $item.color.toString()
        , name: $item.name
        , code: $item.color.toString('hex')
        })
  section#docs
    h2 Docs
    p (this style guide)
    h3 Colors
    +siteColorList('#660000', '#ff6600')
  section#asce2016
    h2 ASCE 2016
    h3 Colors
    +siteColorList('#3fae2a', '#00a1e1')
